<!DOCTYPE html>

<html
        class="light-style layout-menu-fixed" data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        data-theme="theme-default"
        dir="ltr"
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:replace="~{layout/manlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>직원 신규 등록</title>
      <!--Style-->

      <!--/Style-->
  </span>

    <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">직원 계정 /</span> 신규 등록</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <!-- Account -->
            <hr class="my-0"/>
            <div class="card-body">
              <form th:action="@{/manager/save_member}" id="saveMemberForm" method="POST">
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label class="form-label">성명</label>
                    <input
                            autofocus
                            class="form-control"
                            name="name"
                            id="name"
                            type="text"
                    />
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label">전화번호</label>
                    <div class="input-group input-group-merge">
                      <input
                              class="form-control"
                              name="phonenumber"
                              id="phonenumber"
                              placeholder="000-0000-0000"
                              type="text"
                      />
                    </div>
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label">소속부서</label>
                    <select class="select2 form-select" name="department">
                      <option value="자재부서">자재부서</option>
                      <option value="개발부서">개발부서</option>
                      <option value="생산부서">생산부서</option>
                    </select>
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label">접근권한</label>
                    <select class="select2 form-select" name="role">
                      <option value=0>관리자</option>
                      <option value=1>생산/개발사원</option>
                      <option value=2>자재사원</option>
                    </select>
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label">아이디</label>
                    <input
                            class="form-control"
                            name="id"
                            placeholder="ert845dg"
                            type="text"
                    />
                  </div>
                  <div class="mb-3 col-md-6">
                    <label class="form-label">비밀번호</label>
                    <input
                            class="form-control"
                            name="pw"
                            placeholder="awe#g32sdf*"
                            type="text"
                    />
                  </div>
                </div>
                <!--뒤로가기,등록 버튼 세트-->
                <div class="d-flex justify-content-between w-100">
                  <a th:href="@{/manager/list_member}">
                    <button class="btn btn-outline-secondary" type="button">취소</button>
                  </a>
                  <button type="button" class="btn btn-primary" onclick="saveMember()">등록</button>
                </div>
              </form>
            </div>
            <!-- /Account -->
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <!--/Modal-->

    <!--Script-->
    <script>
      function saveMember(){
        var name=document.getElementById('name').value;
        var phonenumber=document.getElementById('phonenumber').value;
        if(name.trim()===''){
          alert('이름을 입력해 주세요.');
        }else if(phonenumber.trim()===''){
          alert('핸드폰 번호를 입력해 주세요.');
        }else {
          document.getElementById('saveMemberForm').submit();
        }
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>