<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/manlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>협력회사 신규 등록</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">협력회사 계정 /</span> 신규 등록</h4>
      <div class="col-md-12">
        <div class="card mb-4">
          <form th:action="@{/manager/save_partner}" method="get">
            <!-- Account -->
            <div class="card-body">
              <h5>협력업체 정보</h5>
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="firstName" class="form-label">상호</label>
                  <input class="form-control" type="text" id="firstName" name="name" placeholder="협력업체 상호 입력" autofocus />
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">사업자 등록번호</label>
                  <div class="input-group input-group-merge">
                    <input type="text" name="registerNum" class="form-control" placeholder="000-00-00000" />
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">대표</label>
                  <div class="input-group input-group-merge">
                    <input type="text" name="ceo" class="form-control" placeholder="홍길동" />
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">사업장 소재지</label>
                  <div class="input-group input-group-merge">
                    <input type="text" name="location" class="form-control" placeholder="협력업체 사업장 소재지" />
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">업태</label>
                  <div class="input-group input-group-merge">
                    <input type="text" name="type" class="form-control" placeholder="제조업" />
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">종목</label>
                  <div class="input-group input-group-merge">
                    <input type="text" name="sector" class="form-control" placeholder="금속사출부품" />
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">전화번호</label>
                  <div class="input-group input-group-merge">
                    <input type="text" name="phonenumber" class="form-control" placeholder="000-000-0000" />
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">팩스번호</label>
                  <div class="input-group input-group-merge">
                    <input type="text" name="faxnumber" class="form-control" placeholder="000-000-0000" />
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">메일주소</label>
                  <div class="input-group input-group-merge">
                    <input type="text" name="email" class="form-control" placeholder="aaa1111@mail.com" />
                  </div>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
              <h5>협력회사 카테고리 정보</h5>
              <div class="row">
                <div class="mb-3 col-md-4">
                  <label class="form-label">대분류</label>
                  <div class="input-group input-group-merge">
                    <select class="select2 form-select" id="selectPartL" onchange="updatePartCode('L')"></select>
                  </div>
                </div>
                <div class="mb-3 col-md-4">
                  <label class="form-label">중분류</label>
                  <div class="input-group input-group-merge">
                    <select class="select2 form-select" id="selectPartM" onchange="updatePartCode('M')"></select>
                  </div>
                </div>
                <div class="mb-3 col-md-4">
                  <label class="form-label">소분류</label>
                  <div class="input-group input-group-merge">
                    <select class="select2 form-select" id="selectPartS" onchange="updatePartCode('S')" name="selectPartS"></select>
                  </div>
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
              <h5>담당자 정보</h5>
              <div class="row">
                <div class="mb-3 col-md-4">
                  <label class="form-label">담당자 이름</label>
                  <input type="text" class="form-control" name="cname" placeholder="박담당" />
                </div>
                <div class="mb-3 col-md-4">
                  <label class="form-label">담당자 전화번호</label>
                  <input type="text" class="form-control" name="cnumber" placeholder="000-0000-0000" />
                </div>
                <div class="mb-3 col-md-4">
                  <label class="form-label">담당자 이메일</label>
                  <input type="text" class="form-control" name="cmail" placeholder="ljj@mail.com" />
                </div>
              </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
              <h5>계정 정보</h5>
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label class="form-label">아이디</label>
                  <input type="text" class="form-control" name="id" placeholder="efs1234" />
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">비밀번호</label>
                  <input type="text" class="form-control" name="pw" placeholder="qe@df243z" />
                </div>
              </div>
              <!--뒤로가기,등록 버튼 세트-->
              <div class="d-flex justify-content-between w-100">
                <a th:href="@{/manager/list_partner}">
                  <button type="reset" class="btn btn-outline-secondary">취소</button>
                </a>
                <button type="submit" class="btn btn-primary">등록</button>
                <!--/-->
              </div>
              <!-- /Account -->
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->
    <!--Script-->
    <script src="../assets/js/select-input.js"></script>

    <!--Script-->
  </span>

</th:block>
</html>