<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>발주서 수정</title>
      <!--Style-->

      <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">발주서 /</span> 발주서 수정</h4>
      <div class="fullscreen-background">
        <div class="card mb-4">
          <div class="card-body">
            <div>
              <label class="col-form-label" ><h5>발주 요청 가능 목록</h5></label><br/>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-primary mb-4">
                  모두선택
                </button>
              </div>
              <div class="row mb-4">
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="col-md-2 btn btn-outline-primary" style="width: fit-content;">전체수량</button>&nbsp;
                <div class="col-md-10">
                  <div class="row">
                    <input type="date" class="form-control col-md-2" style="width: 300px;">&nbsp;
                    <button type="button" class="btn btn-outline-primary col-md-2" style="width: fit-content;">예정일 일괄 등록</button>
                  </div>
                </div>
              </div>
              <table class="table table-bordered mb-4">
                <tr>
                  <th rowspan="6" style="width: 10px;" class="text-center"><input type="checkbox" class="form-check-input"></th>
                  <th>자재번호</th>
                  <th>자재명</th>
                  <th></th>
                  <th>수량</th>
                  <th>요청일</th>
                </tr>
                <tr>
                  <td rowspan="3">AE-8704</td>
                  <td rowspan="3">앞타이어</td>
                  <td>1차</td>
                  <td>500</td>
                  <td><input type="date" style="border: 0; width: 100%;"></td>
                </tr>
                <tr>
                  <td>2차</td>
                  <td>500</td>
                  <td><input type="date" style="border: 0; width: 100%;"></td>
                </tr>
                <tr>
                  <td>3차</td>
                  <td>500</td>
                  <td><input type="date" style="border: 0; width: 100%;"></td>
                </tr>
                <tr>
                  <td>배송장소</td>
                  <td colspan="4"><input type="text" style="border: 0; width: 100%;"></td>
                </tr>
                <tr>
                  <td>배송 요청 사항</td>
                  <td colspan="4"><textarea style="width: 100%; border: 0;" rows="4"></textarea></td>
                </tr>
              </table>
            </div>
            <div class="d-flex justify-content-between w-100">
              <a th:href="@{/order/list_order}">
                <button type="reset" class="btn btn-outline-secondary">취소</button>
              </a>
              <a th:href="@{/order/list_order}">
                <button class="btn btn-primary">수정</button>
              </a>
            </div>
          </div>
          <!--/Card body-->
        </div>
        <!--/ Card-->
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->

    <!--Script-->

    <!--Script-->
  </span>

</th:block>
</html>