<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:fragment="all(head, content)">
  <head>
    <th:block th:replace="${head}"></th:block>
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <!-- Layout container-->
      <div class="layout-container">

        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

          <div class="app-brand demo">
            <a th:href="@{/main}" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg
                        width="25"
                        viewBox="0 0 25 42"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs>
                    <path
                            d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                            id="path-1"
                    ></path>
                    <path
                            d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                            id="path-3"
                    ></path>
                    <path
                            d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                            id="path-4"
                    ></path>
                  </defs>
                </svg>
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2">메인 화면</span>
            </a>
          </div> <!--class="app-brand demo" end-->

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">

            <!-- Layouts -->
            <!-- 개발부서/생산부서 -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text"></span>개발부서/생산부서</span>
            </li>
            <li class="menu-item">
              <a th:href="@{/development/list_dev}"  class="menu-link">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Boxicons">개발부서</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Authentications">생산부서</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">

                <li class="menu-item">
                  <a th:href="@{/proteam/list_pro}"  class="menu-link">
                    <div data-i18n="Basic">생산 계획</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/proteam/list_request}"  class="menu-link">
                    <div data-i18n="Basic">출하 요청</div>
                  </a>
                </li>
              </ul>
            </li>
            <!--개발부서/생산부서 end-->
            <!--제품관리-->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">제품 관리</span></li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="Authentications">제품 관리</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/production/list_manufacture}"  class="menu-link">
                    <div data-i18n="Boxicons">제품 목록</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/production/list_newProduct}"  class="menu-link">
                    <div data-i18n="Basic">자재검토 필요 제품</div>
                  </a>
                </li>
              </ul>
            </li>
            <!--제품관리 end-->
            <!--자재관리-->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">자재 관리</span></li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-spreadsheet"></i>
                <div data-i18n="Authentications">자재 관리</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/material/list_material}"  class="menu-link">
                    <div data-i18n="Boxicons">자재 목록</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/jodal/list_jodal}"  class="menu-link">
                    <div data-i18n="Basic">조달계획 필요 자재</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-calendar-check"></i>
                <div data-i18n="Authentications">진척검수 관리</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/progress/list_progress}"  class="menu-link">
                    <div data-i18n="Boxicons">진척검수 목록</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/progress/requiring_progress}"  class="menu-link">
                    <div data-i18n="Basic">진척검수 필요 발주</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-package"></i>
                <div data-i18n="Authentications">입고/출하 관리</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{/goodshandling/list_received}"  class="menu-link">
                    <div data-i18n="Boxicons">입고/반품</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{/goodshandling/list_request}"  class="menu-link">
                    <div data-i18n="Basic">출하</div>
                  </a>
                </li>
              </ul>
            </li>
            <!--자재관리 end-->
            <!--재고관리-->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">재고 관리</span></li>
            <li class="menu-item">
              <a th:href="@{/jago/list_stock}"  class="menu-link">
                <i class="menu-icon tf-icons bx bx-cube"></i>
                <div data-i18n="Boxicons">재고 수량</div>
              </a>
            </li>
            <li class="menu-item">
              <a th:href="@{/jago/list_stockM}"  class="menu-link">
                <i class="menu-icon tf-icons bx bx-cube"></i>
                <div data-i18n="Boxicons">재고 금액</div>
              </a>
            </li>
            <!--재고관리 end-->
            <!--서류관리-->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">서류 관리</span></li>
            <li class="menu-item">
              <a th:href="@{/contract/list_contract}"  class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Boxicons">계약서</div>
              </a>
            </li>
            <li class="menu-item">
              <a th:href="@{/order/list_order}"  class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Boxicons">발주서</div>
              </a>
            </li>
            <li class="menu-item">
              <a th:href="@{/invoice/list_invoice}"  class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Boxicons">거래명세서</div>
              </a>
            </li>
            <!--서류관리 end-->
            <!--협력회사 관리-->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">협력회사 관리</span></li>
            <li class="menu-item">
            </li>
            <li class="menu-item">
              <a th:href="@{/adminpartner/list_partner}"  class="menu-link">
                <i class="menu-icon tf-icons bx bx-buildings"></i>
                <div data-i18n="Boxicons">협력회사 관리</div>
              </a>
            </li>
            <!--협력회사 관리 end-->
            <!--시스템-->
            <li class="menu-header small text-uppercase">
              <div data-i18n="Support">시스템</div>
            </li>
            <li class="menu-item">
              <a th:href="@{/category}"  class="menu-link">
                <i class="menu-icon tf-icons bx bx-border-all"></i>
                <div data-i18n="Documentation">카테고리</div>
              </a>
            </li>
            <li class="menu-item">
              <a
                      href="../line/QA.html"
                      class="menu-link"
              >
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Documentation">서비스 센터</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout page -->
        <div class="layout-page" style="background-color: rgba(174, 199, 167, 0.87);">
          <div class="mb-2"></div>
          <div class="container-xxl">
            <div class="text-end">
              <div class="d-flex justify-content-between w-100">
                <span>
                  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                      <i class="bx bx-menu bx-md"></i>
                    </a>
                  </div>
                </span>
                <div>
                  <a class="hide-arrow" data-bs-toggle="dropdown">
                    <div>
                      <span><i class="bx bx-user bx-md bx-border-circle bx-tada-hover"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <span class="fw-semibold d-block">이우식</span>
                          </div>
                          <div class="flex-grow-1">
                            <span class="d-block">자재부서</span>
                            <small class="text-muted">관리자</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../pageLogin/list_member.html">
                        <i class="bx bx-transfer-alt me-2"></i>
                        <span class="align-middle">관리자 페이지</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/login}">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">로그아웃</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Content wrapper -->
          <div class="content-wrapper" style="background-color: rgba(184, 207, 177, 0.87);">

            <!-- Content -->
            <th:block th:replace="${content}"></th:block>
            <!--/ Content-->

          </div>
          <!--/ Content wrapper-->
        </div>
        <!--/ Layout page-->
      </div>
      <!-- / Layout container -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/ui-popover.js"></script>
    <script src="../assets/js/dashboards-analytics.js"></script>
    <script src="../assets/js/extended-ui-perfect-scrollbar.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</th:block>
</html>