<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
</html><!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>자재 관리/ 조달계획 필요 자재</title>
      <!--Style-->

      <!--/Style-->
  </span>

    <span id="content">
    가나다라마바사

        <!--Modal-->

        <!--/Modal-->
        <!--Script-->

        <!--Script-->
  </span>

</th:block>
</html>