<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>제품</title>
      <!--Style-->

      <!--/Style-->
  </span>

    <span id="content">
    가나다라마바사

        <!--Modal-->

        <!--/Modal-->
        <!--Script-->

        <!--Script-->
  </span>

</th:block>
</html>