<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>제품관리/ 자재 검토 필요 제품</title>
      <!--Style-->

      <!--/Style-->
  </span>

  <span id="content">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">제품 관리 /</span> 자재 검토 필요 제품</h4>

      <!-- Hoverable Table rows -->
      <div class="card">
        <!--검색-->
        <div class="card-body">
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-md-9">
                        <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                      </div>
                      <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <table class="table table-bordered mb-4">
              <thead>
                <tr>
                  <th>등록일자</th>
                  <th>제품번호</th>
                  <th>제품명</th>
                  <th>색상</th>
                  <th>검토 및 확인</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr th:each="list:${product_list.dtoList}">
                  <td>--</td>
                  <td>[[${list.manuCode}]]</td>
                  <td><strong><a th:href="@{/development/detail_dev(manuCode=${list.manuCode})}"> [[${list.name}]]</a></strong></td>
                  <td>[[${list.color}]]</td>
                  <td>
                    <a th:href="@{/production/check_manufacture(manuCode=${list.manuCode})}">
                      <button class="btn btn-primary">제품 검토</button>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <th:block th:if="${product_list.prev}">
                  <li class="page-item prev">
                    <a class="page-link" th:href="@{/production/list_newProduct(page=${product_list.start}-1)}"><i class="tf-icon bx bx-chevrons-left"></i></a>
                  </li>
                </th:block>
                <th:block th:each="pagenum:${product_list.pageList}">
                  <li class="page-item " th:classappend="${product_list.page}==${pagenum}? active">
                    <a class="page-link" th:href="@{/production/list_newProduct(page=${pagenum})}">[[${pagenum}]]</a>
                  </li>
                </th:block>
                <th:block th:if="${product_list.next}">
                  <li class="page-item next">
                    <a class="page-link" th:href="@{/production/list_newProduct(page=${product_list.end}+1)}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                  </li>
                </th:block>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <!--/Modal-->
    <!--Script-->

    <!--Script-->
  </span>

</th:block>
</html>