<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/partlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>반품 목록</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">반품 확인 /</span> 반품 목록</h4>
      <div class="card">
        <div class="table-responsive text-nowrap">
          <div class="card-body">
            <h5>반품 목록</h5>
            <table class="table table-bordered mb-4">
              <thead>
                <tr>
                  <th>출고일자</th>
                  <th>반품 일자</th>
                  <th>제품</th>
                  <th>수량</th>
                  <th>내용</th>
                  <th>
                    <select class="form-select form-select-sm" style="width: fit-content;">
                      <option>확인상태</option>
                      <option>확인</option>
                      <option>확인완료</option>
                    </select>
                  </th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr th:each="list:${list.dtoList}">
                  <td>[[${#temporals.format(list.regDate, 'yyyy-MM-dd')}]]</td>
                  <td>[[${#temporals.format(list.returnsDTO.regDate, 'yyyy-MM-dd')}]]</td>
                  <td>
                    <a th:href="@{/partner/view_return(reNO=${list.returnsDTO.reNO})}">
                      [[${list.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name}]]
                    </a>
                  </td>
                  <td>[[${list.shipNum}]]</td>
                  <td>[[${list.returnsDTO.whyRe}]]</td>
                  <td>
                    <th:block th:if="${list.returnsDTO.returnCheck==0}">
                      <form th:action="@{/partner/returnCheck}" method="post">
                        <input type="number" style="display:none;" name="reNo" th:value="${list.returnsDTO.reNO}">
                        <button type="submit" class="btn btn-primary">확인</button>
                      </form>
                    </th:block>
                    <th:block th:if="${list.returnsDTO.returnCheck==1}">
                      <button type="button" class="btn btn-secondary">확인완료</button>
                    </th:block>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <th:block th:if="${list.prev}">
                  <li class="page-item prev">
                    <a class="page-link" th:href="@{/partner/list_return(page=${list.start}-1)}">
                      <i class="tf-icon bx bx-chevrons-left"></i>
                    </a>
                  </li>
                </th:block>
                <th:block th:each="pagenum:${list.pageList}">
                  <li class="page-item " th:classappend="${list.page}==${pagenum}? active">
                    <a class="page-link" th:href="@{/partner/list_return(page=${pagenum})}">
                      [[${pagenum}]]
                    </a>
                  </li>
                </th:block>
                <th:block th:if="${list.next}">
                  <li class="page-item next">
                    <a class="page-link" th:href="@{/partner/list_return(page=${list.end}+1)}">
                      <i class="tf-icon bx bx-chevrons-right"></i>
                    </a>
                  </li>
                </th:block>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->

    <!--Script-->

    <!--Script-->
  </span>

</th:block>
</html>