<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/partlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>협력회사 메인</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">

      <!--카드-->
      <div class="card mb-4" th:each="list:${main_list}">
        <div class="d-flex justify-content-between w-100">
          <th:block th:if="${list.gumsuList}!=null">
            <a th:href="@{/partner/view_product(baljuNo=${list.baljuDTO.baljuNo})}">
              <h5 class="card-header">
                <button type="button" class="btn btn-outline-primary btn-lg">
                  [[${list.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name}]]
                </button>
              </h5>
            </a>
          </th:block>
          <th:block th:if="${list.gumsuList}==null">
            <h5 class="card-header">
              <button type="button" class="btn btn-outline-secondary btn-lg">
                [[${list.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name}]]
              </button>
            </h5>
          </th:block>

          <div class="demo-inline-spacing">

            <th:block th:if="${list.returns}!=null">
              <button type="button" class="btn btn-sm btn-primary" th:onclick="|location.href='@{/partner/view_return(reNO=${list.returns})}'|">
                <span class="tf-icons bx bx-redo"></span>&nbsp; 반품처리
              </button>
            </th:block>
            <th:block th:if="${list.returns}==null">
              <button type="button" class="btn btn-sm btn-outline-primary">
                <span class="tf-icons bx bx-redo"></span>&nbsp; 반품처리
              </button>
            </th:block>

            <th:block th:if="${list.emergency}!=null">
              <button type="button" class="btn btn-sm btn-primary" th:onclick="|location.href='@{/partner/list_urgent}'|">
                <span class="tf-icons bx bx-task"></span>&nbsp; 긴급납품
              </button>
            </th:block>
            <th:block th:if="${list.emergency}==null">
              <button type="button" class="btn btn-sm btn-outline-primary">
                <span class="tf-icons bx bx-task"></span>&nbsp; 긴급납품
              </button>
            </th:block>

          </div>
        </div>
        <hr class="m-0" />
        <div class="card-body">
          <span class="text-light fw-semibold">납기일</span>
          <div class="d-flex justify-content-between w-100">
            <span></span>
            <b th:each="chasu:${list.jodalList}">
              [[${#temporals.format(chasu.dueDate, 'yyyy-MM-dd')}]]
            </b>
          </div>
          <div class="demo-vertical-spacing mb-4">
            <div class="row g-0">
              <div class="progress" th:each="chasu:${list.jodalList}">
                <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        th:style="'width: '+${chasu.percent}+'%'"
                        aria-valuenow="20"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  [[${chasu.percent}]]%
                  <span class="count" style="display: none;">[[${#lists.size(list.jodalList)}]]</span>
                </div>
              </div>
            </div>
          </div>
          <span class="text-light fw-semibold">납기량</span>
          <div class="d-flex justify-content-between w-100">
            <span></span>
            <b th:each="chasu:${list.jodalList}">
              [[${chasu.quantity}]]
            </b>
          </div>
          <div class="demo-vertical-spacing mb-4">
            <div class="row g-0">
              <div class="progress" th:each="chasu:${list.jodalList}">
                <div
                        class="progress-bar"
                        role="progressbar"
                        th:style="'width: '+${chasu.count}+'%'"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  [[${chasu.count}]]%
                  <span class="count" style="display: none;">[[${#lists.size(list.jodalList)}]]</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between w-100">
            <span class="text-light fw-semibold" style="width: 70px;">검수계획</span>
            <table class="table table-bordered">
              <tr>
                <th></th>
                <th:block th:each="index:${list.gumsuList}">
                  <th>[[${indexStat.count}]]차</th>
                </th:block>
              </tr>
              <tr>
                <th>검수 일자</th>
                <td th:each="gumsu:${list.gumsuList}">
                  [[${#temporals.format(gumsu.dueDate, 'yyyy-MM-dd')}]]
                </td>
              </tr>
              <tr>
                <th>검수 수량</th>
                <td th:each="gumsu:${list.gumsuList}">
                  [[${gumsu.quantity}]]
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->

    <!--Script-->

    <!--Script-->
  </span>

</th:block>
</html>