<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/partlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>협력회사 메인</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="card mb-4">
        <div class="d-flex justify-content-between w-100">
          <a th:href="@{/partner/view_product}">
            <h5 class="card-header"><button type="button" class="btn btn-outline-primary">세이프티락</button></h5>
          </a>
          <div class="demo-inline-spacing">
            <div class="row"></div>
            <a th:href="@{/partner/view_return}">
              <button type="button" class="btn btn-sm btn-outline-primary">
              <span class="tf-icons bx bx-redo"></span>&nbsp; 반품처리
            </button>
            </a>
            <a th:href="@{/partner/list_urgent}">
              <button type="button" class="btn btn-sm btn-primary">
              <span class="tf-icons bx bx-task"></span>&nbsp; 긴급납품
            </button>
            </a>
          </div>
        </div>
        <hr class="m-0" />
        <div class="card-body">
          <span class="text-light fw-semibold">납기일</span>
          <div class="d-flex justify-content-between w-100">
            <span></span>
            <b>2024-07-20</b>
            <b>2024-07-27</b>
            <b>2024-08-04</b>
          </div>
          <div class="demo-vertical-spacing mb-4">
            <div class="row g-0">
              <div class="progress">
                <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 100%"
                        aria-valuenow="20"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  100%
                  <span class="count" style="display: none;">3</span>
                </div>
              </div>
              <div class="progress">
                <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="20"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  50%
                  <span class="count" style="display: none;">3</span>
                </div>
              </div>
              <div class="progress">
                <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="20"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  0%
                  <span class="count" style="display: none;">3</span>
                </div>
              </div>
            </div>
          </div>
          <span class="text-light fw-semibold">납기량</span>
          <div class="d-flex justify-content-between w-100">
            <span></span>
            <b>400</b>
            <b>400</b>
            <b>400</b>
          </div>
          <div class="demo-vertical-spacing mb-4">
            <div class="row g-0">
              <div class="progress">
                <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 100%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  100%
                  <span class="count" style="display: none;">3</span>
                </div>
              </div>
              <div class="progress">
                <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 30%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  30%
                  <span class="count" style="display: none;">3</span>
                </div>
              </div>
              <div class="progress">
                <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  0%
                  <span class="count" style="display: none;">3</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between w-100">
            <span class="text-light fw-semibold" style="width: 70px;">검수계획</span>
            <table class="table table-bordered">
              <tr>
                <th></th>
                <th>1차</th>
                <th>2차</th>
                <th>3차</th>
              </tr>
              <tr>
                <th>검수 일자</th>
                <td>2024-07-17</td>
                <td>2024-07-24</td>
                <td>2024-08-01</td>
              </tr>
              <tr>
                <th>검수 수량</th>
                <td>200</td>
                <td>200</td>
                <td>200</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="d-flex justify-content-between w-100">
          <a th:href="@{/partner/view_product}">
            <h5 class="card-header"><button type="button" class="btn btn-outline-primary">슬라이딩 슬리브</button></h5>
          </a>
          <div class="demo-inline-spacing">
            <div class="row"></div>
            <a th:href="@{/partner/view_return}">
              <button type="button" class="btn btn-sm btn-primary">
              <span class="tf-icons bx bx-redo"></span>&nbsp; 반품처리
              </button>
            </a>
            <a th:href="@{/partner/list_urgent}">
              <button type="button" class="btn btn-sm btn-outline-primary">
              <span class="tf-icons bx bx-task"></span>&nbsp; 긴급납품
              </button>
            </a>
          </div>
        </div>
        <hr class="m-0" />
        <div class="card-body">
          <span class="text-light fw-semibold">납기일</span>
          <div class="d-flex justify-content-between w-100">
            <span></span>
            <b>2024-07-09</b>
            <b>2024-07-16</b>
            <b>2024-07-23</b>
            <b>2024-07-30</b>
          </div>
          <div class="demo-vertical-spacing mb-4">
            <div class="row g-0">
              <div class="progress">
                <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 100%"
                        aria-valuenow="28"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  100%
                  <span class="count" style="display: none;">4</span>
                </div>
              </div>
              <div class="progress">
                <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 100%"
                        aria-valuenow="28"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  100%
                  <span class="count" style="display: none;">4</span>
                </div>
              </div>
              <div class="progress">
                <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 100%"
                        aria-valuenow="28"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  100%
                  <span class="count" style="display: none;">4</span>
                </div>
              </div>
              <div class="progress">
                <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="28"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  50%
                  <span class="count" style="display: none;">4</span>
                </div>
              </div>
            </div>
          </div>
          <span class="text-light fw-semibold">납기량</span>
          <div class="d-flex justify-content-between w-100">
            <span></span>
            <b>300</b>
            <b>300</b>
            <b>300</b>
            <b>300</b>
          </div>
          <div class="demo-vertical-spacing mb-4">
            <div class="row g-0">
              <div class="progress">
                <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 100%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  100%
                  <span class="count" style="display: none;">4</span>
                </div>
              </div>
              <div class="progress">
                <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 100%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  10%
                  <span class="count" style="display: none;">4</span>
                </div>
              </div>
              <div class="progress">
                <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  50%
                  <span class="count" style="display: none;">4</span>
                </div>
              </div>
              <div class="progress">
                <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 0%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                >
                  0%
                  <span class="count" style="display: none;">4</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between w-100">
            <span class="text-light fw-semibold" style="width: 70px;">검수계획</span>
            <table class="table table-bordered">
              <tr>
                <th></th>
                <th>1차</th>
                <th>2차</th>
                <th>3차</th>
                <th>4차</th>
              </tr>
              <tr>
                <th>검수 일자</th>
                <td>2024-07-06</td>
                <td>2024-07-13</td>
                <td>2024-07-20</td>
                <td>2024-07-27</td>
              </tr>
              <tr>
                <th>검수 수량</th>
                <td>150</td>
                <td>150</td>
                <td>150</td>
                <td>150</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->

    <!--Script-->

    <!--Script-->
  </span>

</th:block>
</html>