<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/partlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>반품내용 상세보기</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">반품 /</span> 반품 상세 내용 보기</h4>
      <div class="row">
        <div class="fullscreen-background">
          <div class="card mb-4">
            <div class="card-body">
              <h5>반품 상세 내용 보기</h5>
              <div class="mb-3">
                <label class="form-label">자재명</label>
                <input
                        class="form-control"
                        type="text"
                        th:value="${returns.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name}"
                        readonly
                />
              </div>
              <div class="mb-3">
                <label class="form-label">수량</label>
                <input
                        class="form-control"
                        type="text"
                        th:value="${returns.shipNum}"
                        readonly
                />
              </div>
              <div class="mb-3">
                <label class="form-label">반품 내용</label>
                <input
                        class="form-control"
                        type="text"
                        th:value="${returns.returnsDTO.whyRe}"
                        readonly
                />
              </div>
              <div class="mb-3">
                <label class="form-label">이유</label>
                <textarea class="form-control" rows="4" readonly>[[${returns.returnsDTO.reDetail}]]</textarea>
              </div>

              <div class="mb-4">
                <label class="form-label">비고</label>
                <textarea class="form-control" rows="10" readonly>[[${returns.returnsDTO.bGo}]]</textarea>
              </div>
              <div class="d-flex justify-content-between w-100">
                <a th:href="@{/partner/list_return}">
                  <button type="button" class="btn btn-outline-secondary">목록가기</button>
                </a>
                <div>
                  <th:block th:if="${returns.returnsDTO.returnCheck==0}">
                    <form th:action="@{/partner/returnCheck}" method="post">
                      <input type="number" style="display:none;" name="reNo" th:value="${returns.returnsDTO.reNO}">
                      <button type="submit" class="btn btn-primary">확인</button>
                    </form>
                  </th:block>
                  <th:block th:if="${returns.returnsDTO.returnCheck==1}">
                    <button type="button" class="btn btn-secondary">확인완료</button>
                  </th:block>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->
    <!--Script-->

    <!--Script-->
  </span>

</th:block>
</html>