<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/prolayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>생산계획 리스트</title>
      <!--Style-->

      <!--/Style-->
  </span>

    <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">생산부서 /</span> 생산 계획 목록</h4>

      <!--추가해야 햘 목록-->
      <div class="card mb-4">
        <!--검색-->
        <div class="card-body">
          <h5>생산계획 수립 필요 제품</h5>
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-md-9">
                        <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                      </div>
                      <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="table-responsive text-nowrap">
          <!-- Outline Dropdowns -->
          <div class="card-body">
            <table class="table table-bordered mb-4">
              <thead>
                <tr>
                  <th>등록일자</th>
                  <th>제품번호</th>
                  <th>제품명</th>
                  <th>색상</th>
                  <th>생산계획 등록</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr th:each="plist:${product_list.dtoList}">
                  <td>[[${#temporals.format(plist.regDate, 'yyyy-MM-dd')}]]</td>
                  <td>[[${plist.manuCode}]]</td>
                  <td><a th:href="@{/development/detail_dev(manuCode=${plist.manuCode})}">[[${plist.name}]]</a></td>
                  <td>[[${plist.color}]]</td>
                  <td>
                    <a th:href="@{/proteam/input_pro(manuCode=${plist.manuCode})}">
                      <button class="btn btn-primary">생산계획 등록</button>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <th:block th:if="${product_list.prev}">
                  <li class="page-item prev">
                    <a class="page-link" th:href="@{/proteam/list_pro(page=${product_list.start}-1)}"><i class="tf-icon bx bx-chevrons-left"></i></a>
                  </li>
                </th:block>
                <th:block th:each="pagenum:${product_list.pageList}">
                  <li class="page-item " th:classappend="${product_list.page}==${pagenum}? active">
                    <a class="page-link" th:href="@{/proteam/list_pro(page=${pagenum})}">[[${pagenum}]]</a>
                  </li>
                </th:block>
                <th:block th:if="${product_list.next}">
                  <li class="page-item next">
                    <a class="page-link" th:href="@{/proteam/list_pro(page=${product_list.end}+1)}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                  </li>
                </th:block>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="card">
        <!--검색-->
        <div class="card-body">
          <h5>생산계획 수립 완료 제품</h5>
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL2" onchange="updateProCode2('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM2" onchange="updateProCode2('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS2" onchange="updateProCode2('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-md-9">
                        <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                      </div>
                      <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
    <!--/검색-->
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <table class="table table-bordered mb-4">
              <thead>
                <tr>
                  <th>요청 일자</th>
                  <th>제품 번호</th>
                  <th>제품명</th>
                  <th>생산 기간</th>
                  <th>생산량</th>
                  <th>
                    <select class="form-select form-select-sm" style="width: fit-content;">
                      <option>전체 진행상태</option>
                      <option>진행예정</option>
                      <option>진행중</option>
                      <option>완료</option>
                    </select>
                  </th>
                  <th>수정</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="list:${proplan_list.dtoList}">
                  <td>[[${#temporals.format(list.proplanDTO.regDate, 'yyyy-MM-dd')}]]</td>
                  <td id="manuCode">[[${list.proplanDTO.productDTO.manuCode}]]</td>
                  <td id="manuName"><a th:href="@{/proteam/details_plan(manuCode=${list.proplanDTO.productDTO.manuCode})}">[[${list.proplanDTO.productDTO.name}]]</a></td>
                  <td id="period">[[${#temporals.format(list.proplanDTO.startDate, 'yyyy-MM-dd')}]]~[[${#temporals.format(list.proplanDTO.endDate, 'yyyy-MM-dd')}]]</td>
                  <td id="pronum">[[${list.proplanDTO.pronum}]]</td>
                  <td>
                    <th:block th:if="${list.jcNum==0 && list.contractNum==0}">진행 예정</th:block>
                    <th:block th:if="${list.jcNum!=0 && list.contractNum==0}">조달계획 수립</th:block>
                    <th:block th:if="${list.contractNum!=0}">계약 체결</th:block>
                  </td>
                  <td>
                    <button th:onclick="|location.href='@{/proteam/modify_plan(proplanNo=${list.proplanDTO.proplanNo})}'|" class="btn  btn-primary">수정</button>
                    <button class="btn btn-secondary" data-bs-toggle="modal" href="#modalToggle" th:value="${list.proplanDTO.proplanNo}" onclick="deleteBtn(this)">삭제</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <th:block th:if="${proplan_list.prev}">
                  <li class="page-item prev">
                    <a class="page-link" th:href="@{/proteam/list_pro(page2=${proplan_list.start}-1)}"><i class="tf-icon bx bx-chevrons-left"></i></a>
                  </li>
                </th:block>
                <th:block th:each="pagenum:${proplan_list.pageList}">
                  <li class="page-item " th:classappend="${proplan_list.page}==${pagenum}? active">
                    <a class="page-link" th:href="@{/proteam/list_pro(page2=${pagenum})}">[[${pagenum}]]</a>
                  </li>
                </th:block>
                <th:block th:if="${proplan_list.next}">
                  <li class="page-item next">
                    <a class="page-link" th:href="@{/proteam/list_pro(page2=${proplan_list.end}+1)}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                  </li>
                </th:block>
              </ul>
            </nav>
          </div>
        </div>
      </div>
     <!--/ Bordered Table -->
    </div>

    <!--Modal-->
    <div
            class="modal fade"
            id="modalToggle"
            aria-labelledby="modalToggleLabel"
            tabindex="-1"
            style="display: none"
            aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">삭제하시겠습니까?</h5>
          </div>
          <div class="modal-body" id="deleteText"></div>
          <div class="modal-footer">
            <button
                    class="btn btn-primary"
                    data-bs-target="#modalToggle2"
                    data-bs-dismiss="modal"
                    id="deleteBtn"
                    onclick="deleteProPlan(this)"
            >
              삭제
            </button>
            <button
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
            >
              취소
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->
    <script>
      function deleteBtn(button){
        var proplanNo=button.value;
        var manuCode=document.getElementById('manuCode').innerText;
        var manuName=document.getElementById('manuName').innerText;
        var period=document.getElementById('period').innerText;
        var period=document.getElementById('pronum').innerText;

        var productName=document.getElementById('productName'+manuCode).innerText;
        $.ajax({
          url:'/select/checkProPlan',
          method:'GET',
          data:{manuCode:manuCode},
          success:function(data){
            if(data==0){
              document.getElementById('deleteText').innerHTML=manuCode+" "+productName+"를 삭제합니다.<br/>삭제시 복구가 불가능합니다.";
              document.getElementById('deleteBtn').value=manuCode;
            }
            if(data==1){
              document.getElementById('deleteText').innerHTML="생산계획이 등록된 제품입니다. 삭제가 불가능합니다.";
            }
          }
        });


      }
      function deleteProduct(button){
        var manuCode=button.value;
        $.ajax({
          url:'/development/delete_product',
          method:'GET',
          data:{manuCode:manuCode},
          success:function(response){
            window.location.reload();
          }
        });
      }
    </script>
      <script>
        function showConfirmation() {
          var result = confirm('삭제 하시겠습니까?');
        }
        function showCompletionMessage(action) {
          alert('이미 완료된 작업입니다.');
        }
        function showCompletionMessage2(action) {
          alert('이미 진행중인 작업입니다.');
        }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>