<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/prolayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>출하 요청 수정</title>
      <!--Style-->

      <!--/Style-->
  </span>

    <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">생산부서 /</span> 출하 요청 수정</h4>

            <div class="row">
              <div class="fullscreen-background">
                <div class="card mb-4">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h5>제품 정보</h5>
                      <div>
                        <label for="exampleDataList" class="form-label">제품 이름</label>
                        <div class="row">
                          <div class="col-md-4">
                            <input type="text" class="form-control" value="전기자전거" readonly>
                          </div>
                        </div>
                        <div>
                          <label for="exampleFormControlTextarea1" class="form-label">비고</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                    <hr class="m-0">
                    <div class="card-body table-responsive text-nowrap">

                      <div class="row mb-3">
                        <h5>출하 요청 정보</h5>
                        <div class="col-sm-2">
                          <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                            라인 선택
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">A 라인</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">B 라인</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">C 라인</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">D 라인</a></li>
                          </ul>
                        </div>
                        <label class="col-sm-1 col-form-label" for="basic-default-email">제품수량 :</label>
                        <div class="col-sm-1" style="width: 150px;">
                          <div class="input-group input-group-merge">
                            <input type="number" id="basic-default-email" class="form-control" />
                            <span class="input-group-text" id="basic-default-email2">개</span>
                          </div>
                        </div>
                        <label class="col-sm-1 col-form-label" for="basic-default-email">희망일자 :</label>
                        <div class="col-sm-1" style="width: 150px;">
                          <input type="date" id="basic-default-email" class="form-control" />
                        </div>
                      </div>



                      <table class="table table-bordered mb-4">
                        <thead>
                          <tr>
                            <th>자재번호</th>
                            <th>자재명</th>
                            <th>제품 1개당 소요량</th>
                            <th style="width: 100px;">현재 자재 수량</th>
                            <th style="width: 100px;">출하 요청 수량</th>
                            <th>희망 출하 일자</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>HD-550</td>
                            <td>핸들</td>
                            <td>1</td>
                            <td>850</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>TB-141</td>
                            <td>T바</td>
                            <td>1</td>
                            <td>780</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>DP-405</td>
                            <td>디스플레이</td>
                            <td>1</td>
                            <td>980</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>AT-152
                            </td>
                            <td>앞타이어</td>
                            <td>1</td>
                            <td>700</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>DT-569</td>
                            <td>뒤타이어</td>
                            <td>1</td>
                            <td>720</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>BT-590</td>
                            <td>배터리</td>
                            <td>1</td>
                            <td>590</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>MT-608</td>
                            <td>모터</td>
                            <td>1</td>
                            <td>600</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>HD-485</td>
                            <td>후미등</td>
                            <td>1</td>
                            <td>780</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>KS-493</td>
                            <td>킥스탠드</td>
                            <td>1</td>
                            <td>900</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>KT-632</td>
                            <td>컨트롤러</td>
                            <td>1</td>
                            <td>700</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>SS-149</td>
                            <td>슬라이딩 슬리브</td>
                            <td>1</td>
                            <td>800</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>AM-823</td>
                            <td>앞브레이크</td>
                            <td>1</td>
                            <td>800</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>BB-124</td>
                            <td>뒷브레이크</td>
                            <td>1</td>
                            <td>700</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                          <tr>
                            <td>ST-694</td>
                            <td>스티어링 튜브</td>
                            <td>1</td>
                            <td>900</td>
                            <td> <input type="text" class="form-control" id="defaultFormControlInput" placeholder="500"
                                        aria-describedby="defaultFormControlHelp" /></td>
                            <td><input type="date" style="border: 0;"></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="d-flex justify-content-between w-100">
                      <a th:href="@{/proteam/list_request}">
                          <button type="reset" class="btn btn-outline-secondary">뒤로가기</button>
                        </a>
                       <a th:href="@{/proteam/list_request}">
                          <button class="btn btn-primary">출하 요청 수정</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>


        <!--Modal-->

        <!--/Modal-->
        <!--Script-->

        <!--Script-->
  </span>

</th:block>
</html>