<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>거래명세서 수정</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">거래명세서 /</span> 거래명세서 수정</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- Bordered Table -->
            <div class="card">
              <div id="thisTranNO" style="display:none;">[[${invoice.tranNO}]]</div>
              <div class="card-body mb-4" style="height: 10px;">
                <div>
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                          data-bs-target="#modalScrollable2">
                    자재선택
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive text-nowrap">
                  <table class="table table-bordered">
                    <tr>
                      <th rowspan="6" style="writing-mode: vertical-lr;text-align: center; width: 5%;
                               border-top: 2px solid red; border-bottom: 2px solid red;">
                        공급자
                      </th>
                      <th style="text-align: center; border-top: 2px solid red; width: 5%;">
                        등록<br />번호
                      </th>
                      <td colspan="5" style="border-top: 2px solid red; width: 260px;" id="partnerRegister">
                      </td>
                      <th style="text-align: center; border-top: 2px solid red;">
                        종사업장<br />번호
                      </th>
                      <td colspan="5" style="border-top: 2px solid red;">
                        <input type="text" style="border: 0; width: 100%; min-width: 100px">
                      </td>
                      <th rowspan="6"
                          style="writing-mode: vertical-lr; text-align: center; width: 5%;
                               border-top: 2px solid blue; border-bottom: 2px solid blue; border-left: 3px solid gray;">
                        공급받는자
                      </th>
                      <th style="text-align: center; border-top: 2px solid blue; width: 5%;">
                        등록<br />번호
                      </th>
                      <td colspan="5" style="border-top: 2px solid blue; width: 260px;">[[${company.registrationNumber}]]</td>
                      <th style="text-align: center; border-top: 2px solid blue;">
                        종사업자<br />번호
                      </th>
                      <td colspan="5" style="border-top: 2px solid blue;">
                        <input type="text" style="border: 0; width: 100%; min-width: 100px;">
                      </td>
                    </tr>
                    <tr>
                      <th style="text-align: center;">상호</th>
                      <td colspan="5" id="partnerName"></td>
                      <th style="text-align: center;">성명</th>
                      <td colspan="5" id="partnerCEO"></td>
                      <th style="text-align: center;">상호</th>
                      <td colspan="5">[[${company.name}]]</td>
                      <th style="text-align: center;">성명</th>
                      <td colspan="5">[[${company.ceo}]]</td>
                    </tr>
                    <tr>
                      <th style="text-align: center;">사업장</th>
                      <td colspan="11" id="partnerLocation"></td>
                      <th style="text-align: center;">사업장</th>
                      <td colspan="11">[[${company.location}]]</td>
                    </tr>
                    <tr>
                      <th style="text-align: center;">업태</th>
                      <td colspan="5" id="partnerType"></td>
                      <th style="text-align: center;">종목</th>
                      <td colspan="5" id="partnerSector"></td>
                      <th style="text-align: center;">업태</th>
                      <td colspan="5">[[${company.type}]]</td>
                      <th style="text-align: center;">종목</th>
                      <td colspan="5">[[${company.sector}]]</td>
                    </tr>
                    <tr>
                      <th rowspan="2" style="text-align: center; border-bottom: 2px solid red;">
                        이메일
                      </th>
                      <td rowspan="2" colspan="11" style=" border-bottom: 2px solid red;" id="partnerEmail"></td>
                      <th style="text-align: center;">이메일</th>
                      <td colspan="11">[[${company.email}]]</td>
                    </tr>
                    <tr>
                      <th style="text-align: center; border-bottom: 2px solid blue;">이메일</th>
                      <td colspan="11" style="border-bottom: 2px solid blue;">
                        <input type="text" style="border: 0; width: 100%;">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="22"></td>
                    </tr>
                    <tr>
                      <th colspan="2" style="text-align: center;">작성일자</th>
                      <td colspan="11"> <input type="date" id="writeDate"> </td>
                      <th colspan="2" style="text-align: center;">비고</th>
                      <td colspan="11"> <input type="text" style="border: 0; width: 400px;" id="text" th:value="${invoice.text}"></td>
                    </tr>
                    <tr>
                      <th colspan="2" style="text-align: center;">합계금액</th>
                      <td colspan="6" id="totalSum"></td>
                      <th style="text-align: center;">공급가액</th>
                      <td colspan="6" id="totalSupply"></td>
                      <th style="text-align: center;">세액</th>
                      <td colspan="6" id="totalTax"></td>
                    </tr>
                    <tr>
                      <td colspan="22"></td>
                    </tr>
                    <tr>
                      <th style="text-align: center;">월</th>
                      <th style="text-align: center;">일</th>
                      <th colspan="6" style="text-align: center;">품목</th>
                      <th colspan="2" style="text-align: center;">규격</th>
                      <th style="text-align: center;">수량</th>
                      <th colspan="4" style="text-align: center;">단가</th>
                      <th colspan="3" style="text-align: center;">공급가액</th>
                      <th colspan="3" style="text-align: center;">세액</th>
                      <th colspan="2" style="text-align: center;">비고</th>
                    </tr>
                    <tbody id="shipmentSel"></tbody>
                    <tr>
                      <td colspan="22"></td>
                    </tr>
                    <tr>
                      <th colspan="5" style="text-align: center;">현금</th>
                      <th colspan="5" style="text-align: center;">수표</th>
                      <th colspan="5" style="text-align: center;">어음</th>
                      <th colspan="5" style="text-align: center;">외상미수금</th>
                      <th rowspan="2" colspan="2">
                        <div class="text-center">
                          <input type="radio" name="type" value="영수" class="mb-2" th:checked="${invoice.plz == '영수'}">영수<br/>
                          <input type="radio" name="type" value="청구" th:checked="${invoice.plz == '청구'}">청구
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td colspan="5"> <input type="text" style="border: 0; width: 100%;" name="cash" id="cash" th:value="${invoice.cash}"> </td>
                      <td colspan="5"> <input type="text" style="border: 0; width: 100%;" name="cheque" id="cheque" th:value="${invoice.cheque}"> </td>
                      <td colspan="5"> <input type="text" style="border: 0; width: 100%;" name="promissory" id="promissory" th:value="${invoice.promissory}"> </td>
                      <td colspan="5"> <input type="text" style="border: 0; width: 100%;" name="receivable" id="receivable" th:value="${invoice.receivable}"> </td>
                    </tr>
                  </table>
                  <br>
                  <!--뒤로가기,등록 버튼 세트-->
                  <div class="d-flex justify-content-between w-100">
                    <a th:href="@{/invoice/list_invoice}">
                      <button type="reset" class="btn btn-outline-secondary">취소</button>
                    </a>
                    <input type="number" style="display:none;" name="pno" id="partnerPno" th:attr="value=${selectedPartner != null ? selectedPartner : ''}">
                    <input type="number" style="display:none;" id="selectedShipNo" th:attr="value=${selectedShipNo != null ? selectedShipNo : ''}">
                    <button type="button" class="btn btn-primary" onclick="makeInvoice()">수정</button>
                  </div>
                  <!--/-->
                </div>
              </div>
            </div>
            <!--/ Bordered Table -->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="modal-title mb-4" id="modalScrollableTitle">공급자 검색</h5>
            <div class="row mb-10 mb-2">
              <label class="form-label col-md-2" style="width: fit-content;">협력회사</label>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-4">
                    <select class="form-select form-select-sm">
                      <option>전체보기</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm">
                      <option>전체보기</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm">
                      <option>전체보기</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <form class="d-flex" onsubmit="return false">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </form>
            </div>
          </div>
          <hr class="m-0">
          <div class="modal-body" style="height: 350px;">
            <table class="table table-hover" id="partnerList">
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/ Modal-->
    <!-- Modal2 -->
    <div class="modal fade" id="modalScrollable2" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content" style="width: fit-content;">
          <div class="modal-body">
            <h5 class="modal-title mb-4">자재 검색</h5>
            <div class="row mb-10 mb-2">
              <label class="form-label col-md-2" style="width: fit-content;">제품</label>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-4">
                    <select class="form-select form-select-sm">
                      <option>전체보기</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm">
                      <option>전체보기</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm">
                      <option>전체보기</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-10 mb-2">
              <label class="form-label col-md-2" style="width: fit-content;">자재</label>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-4">
                    <select class="form-select form-select-sm">
                      <option>전체보기</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm">
                      <option>전체보기</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-select form-select-sm">
                      <option>전체보기</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <form class="d-flex" onsubmit="return false">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </form>
            </div>
          </div>
          <hr class="m-0">
          <div class="modal-body" style="height: 350px;">
            <div class="table-responsive text-nowrap">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>자재번호</th>
                    <th>자재명</th>
                    <th>입고일</th>
                    <th>입고수량</th>
                  </tr>
                </thead>
                <tbody id="shipmentList"></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                    id="selectShipmentBtn"
                    onclick="selectInvoiceShipment(this)">
              확인
            </button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--/ Modal2-->
    <!--/Modal-->

    <!--Script-->
    <script>
      $(document).ready(function(){
        initInvoicePartner();
        document.getElementById('writeDate').value = todayDate();

        var tranNO=document.getElementById('thisTranNO').innerText;
        initModifyInvoice(tranNO);

        var selectedPartner=document.getElementById('partnerPno').value;
        if(selectedPartner!=null && selectedPartner!='') selectPartner(selectedPartner);

        setTimeout(function() {
          const allSupplyValue=document.querySelectorAll('[id^="presupplyValue"]');
          let totalSupplyValue=0;
          allSupplyValue.forEach(x => {
            const SupplyValue=parseFloat(x.innerText)||0;
            totalSupplyValue+=SupplyValue;
          });

          const allTax=document.querySelectorAll('[id^="pretax"]');
          let totalTax=0;
          allTax.forEach(x => {
            const tax=parseFloat(x.innerText)||0;
            totalTax+=tax;
          });

          let totalSum=totalSupplyValue+totalTax;

          $('#totalSum').text(totalSum);
          $('#totalSupply').text(totalSupplyValue);
          $('#totalTax').text(totalTax);
        }, 500);
      });

      function initInvoicePartner(){
        $.ajax({
            url:'/select/getInvoicePartner',
            method:'GET',
            success:function(data){
              var partnerList=document.getElementById('partnerList');
              partnerList.innerHTML='';

              data.forEach(function(partner) {
                var name=partner.name;
                var pno=partner.pno;
                var registerNum=partner.registrationNumber;

                var newRow = document.createElement('tr');

                [pno, name, registerNum].forEach(function(text) {
                  var td = document.createElement('td');
                  td.innerText = text;
                  newRow.appendChild(td);
                });

                var btnTd = document.createElement('td');
                var btn = document.createElement('button');
                btn.type = 'button';
                btn.value=pno;
                btn.innerText='선택';
                btn.className='btn btn-sm btn-outline-primary';
                btn.onclick = function() {
                  selectPartner(pno);
                };
                btnTd.appendChild(btn);
                newRow.appendChild(btnTd);

                partnerList.appendChild(newRow)
              });
            }
        });
      }

      function selectPartner(pno){
        var pno=pno;
        $.ajax({
          url:'/select/selectInvoicePartner',
          method:'POST',
          data:{pno:pno},
          success:function(data){
            $('#partnerPno').text(data.pno);
            $('#partnerRegister').text(data.registrationNumber);
            $('#partnerName').text(data.name);
            $('#partnerCEO').text(data.ceo);
            $('#partnerLocation').text(data.location);
            $('#partnerType').text(data.type);
            $('#partnerSector').text(data.sector);
            $('#partnerEmail').text(data.email);
            initInvoiceShipment(pno);
          }
        });
        document.getElementById('selectShipmentBtn').value=pno;
      }

      function initInvoiceShipment(pno){
        var pno=pno;
        var element=document.getElementById('selectedShipNo');
        var tranNO=document.getElementById('thisTranNO').innerText;
        $.ajax({
            url:'/select/getInvoiceShipment',
            method:'GET',
            data:{pno:pno},
            success:function(data){
              var shipmentList=document.getElementById('shipmentList');
              shipmentList.innerHTML='';

              data.forEach(function(shipment) {
                var shipNo=shipment.shipNO;

                var findId='presupplyValue'+shipNo;
                var temp=document.getElementById(findId);

                if(temp==null){
                  var materCode=shipment.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.materCode;
                  var name=shipment.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name;
                  var receipt=shipment.receipt.split('T')[0];
                  var shipNum=shipment.shipNum;

                  var standard=shipment.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.standard;
                  var money=shipment.baljuDTO.contractDTO.money;
                  var conNum=shipment.baljuDTO.contractDTO.conNum;
                  var unitCost=money/conNum;

                  var newRow = document.createElement('tr');

                  var inputTd = document.createElement('td');
                  var input = document.createElement('input');
                  input.type = 'checkbox';
                  input.id = 'checkbox'+shipNo;
                  if(element){
                    var selectedShipNo=element.value;
                    var btn=document.getElementById('selectShipmentBtn');
                    if(element.value==shipNo) {
                      setTimeout(() => {
                          input.checked = true;
                          element.value = '';
                          btn.click();
                      }, 10);
                    }
                  }
                  input.class='form-check-input';
                  inputTd.appendChild(input);
                  newRow.appendChild(inputTd);

                  [materCode, name, receipt, shipNum].forEach(function(text) {
                    var td = document.createElement('td');
                    td.innerText = text;
                    newRow.appendChild(td);
                  });
                  [standard, money, shipNo].forEach(function(text) {
                    var td = document.createElement('td');
                    td.innerText = text;
                    td.style.display = 'none';
                    newRow.appendChild(td);
                  });

                  shipmentList.appendChild(newRow);
                }

              });
            }
        });


        $.ajax({
            url:'/select/modify_invoice',
            method:'POST',
            data:{tranNO:tranNO},
            success:function(data){
              var shipmentList=document.getElementById('shipmentList');

              data.forEach(function(shipment) {
                var shipNo=shipment.shipNO;

                var findId='presupplyValue'+shipNo;
                var temp=document.getElementById(findId);

                if(temp==null){
                  var materCode=shipment.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.materCode;
                  var name=shipment.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name;
                  var receipt=shipment.receipt.split('T')[0];
                  var shipNum=shipment.shipNum;

                  var standard=shipment.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.standard;
                  var money=shipment.baljuDTO.contractDTO.money;
                  var conNum=shipment.baljuDTO.contractDTO.conNum;
                  var unitCost=money/conNum;

                  var newRow = document.createElement('tr');

                  var inputTd = document.createElement('td');
                  var input = document.createElement('input');
                  input.type = 'checkbox';
                  input.id = 'checkbox'+shipNo;
                  if(element){
                    var selectedShipNo=element.value;
                    var btn=document.getElementById('selectShipmentBtn');
                    if(element.value==shipNo) {
                      setTimeout(() => {
                          input.checked = true;
                          element.value = '';
                          btn.click();
                      }, 10);
                    }
                  }
                  input.class='form-check-input';
                  inputTd.appendChild(input);
                  newRow.appendChild(inputTd);

                  [materCode, name, receipt, shipNum].forEach(function(text) {
                    var td = document.createElement('td');
                    td.innerText = text;
                    td.style.color = 'blue';
                    td.style.fontWeight = 'bold';
                    newRow.appendChild(td);
                  });
                  [standard, money, shipNo].forEach(function(text) {
                    var td = document.createElement('td');
                    td.innerText = text;
                    td.style.display = 'none';
                    newRow.appendChild(td);
                  });

                  shipmentList.appendChild(newRow);
                }

              });
            }
        });

      }

      function selectInvoiceShipment(button){
        var pno=button.value;
        const shipmentRows=document.querySelectorAll('#shipmentList tr');
        const insertPoint=document.querySelector('#shipmentSel');

        shipmentRows.forEach(x=>{
            const checkbox=x.querySelector('input[type="checkbox"]');

            if(checkbox&&checkbox.checked){
                const cells=x.querySelectorAll('td');

                const materCode=cells[1].innerText;
                const name=cells[2].innerText;

                const receipt=cells[3].innerText;
                const month=receipt.split('-')[1];
                const day=receipt.split('-')[2];

                const shipNum=parseFloat(cells[4].innerText)||0;
                const standard=cells[5].innerText;
                const unitCost=parseFloat(cells[6].innerText)||0;
                const supplyValue=shipNum*unitCost;
                const tax=supplyValue/10;

                const shipNo=cells[7].innerText;

                const newRow = document.createElement('tr');

                [month, day].forEach(text => {
                    const td = document.createElement('td');
                    td.innerText = text;
                    newRow.appendChild(td);
                });

                const button = document.createElement('button');
                button.type = 'button';
                button.className = 'btn btn-sm btn-secondary';
                button.innerText = '삭제';
                button.onclick = function() {
                    newRow.remove();
                    calMoney();
                    initInvoiceShipment(pno);
                };

                const nameTd = document.createElement('td');
                nameTd.colSpan=6;
                nameTd.innerHTML = name+'&nbsp;&nbsp;';
                nameTd.appendChild(button);
                newRow.appendChild(nameTd);

                const standardTd = document.createElement('td');
                standardTd.colSpan=2;
                standardTd.innerText = standard;
                newRow.appendChild(standardTd);

                const shipNumTd = document.createElement('td');
                shipNumTd.innerText = shipNum;
                newRow.appendChild(shipNumTd);

                const unitCostTd = document.createElement('td');
                unitCostTd.colSpan=4;
                unitCostTd.innerText = unitCost;
                newRow.appendChild(unitCostTd);

                const supplyValueTd = document.createElement('td');
                supplyValueTd.colSpan=3;
                supplyValueTd.innerText = supplyValue;
                supplyValueTd.id = 'presupplyValue'+shipNo;
                newRow.appendChild(supplyValueTd);

                const taxTd = document.createElement('td');
                taxTd.colSpan=3;
                taxTd.innerText = tax;
                taxTd.id = 'pretax'+shipNo;
                newRow.appendChild(taxTd);

                const inputText = document.createElement('input');
                inputText.type = 'text';
                inputText.style.border = '0px';
                inputText.style.width = '150px';
                inputText.id = 'inputText'+shipNo;

                const EmptyTd = document.createElement('td');
                EmptyTd.appendChild(inputText);
                newRow.appendChild(EmptyTd);

                const shipNoTd = document.createElement('td');
                shipNoTd.innerText = shipNo;
                shipNoTd.style.display = 'none';
                shipNoTd.id = 'shipNo'+shipNo;
                newRow.appendChild(shipNoTd);

                insertPoint.appendChild(newRow);
            }
        });

        calMoney();
        initInvoiceShipment(pno);
      }

      function calMoney(){
        const allSupplyValue=document.querySelectorAll('[id^="presupplyValue"]');
        let totalSupplyValue=0;
        allSupplyValue.forEach(x => {
          const SupplyValue=parseFloat(x.innerText)||0;
          totalSupplyValue+=SupplyValue;
        });

        const allTax=document.querySelectorAll('[id^="pretax"]');
        let totalTax=0;
        allTax.forEach(x => {
          const tax=parseFloat(x.innerText)||0;
          totalTax+=tax;
        });

        let totalSum=totalSupplyValue+totalTax;

        $('#totalSum').text(totalSum);
        $('#totalSupply').text(totalSupplyValue);
        $('#totalTax').text(totalTax);
        $('#cash').val(totalSum);
      }

      function makeInvoice(){
        var tranNO=document.getElementById('thisTranNO').innerText;
        var writeDate=document.getElementById('writeDate').value;
        var text=document.getElementById('text').value;
        var cash=document.getElementById('cash').value;
        var cheque=document.getElementById('cheque').value;
        var promissory=document.getElementById('promissory').value;
        var receivable=document.getElementById('receivable').value;
        var radio=whoChecked();

        const shipmentSelTable=document.querySelector('#shipmentSel');
        const shipmentRows=shipmentSelTable.querySelectorAll('tr');

        const shipmentData=[];

        shipmentRows.forEach(x=>{
           const cells=x.querySelectorAll('td');

           const shipNo=parseFloat(cells[9].innerText);
           const inputId='inputText'+shipNo;
           const inputElement=document.querySelector('#'+inputId);
           const shipText=inputElement.value;

           shipmentData.push({shipNo:shipNo, shipText:shipText});
        });

        $.ajax({
          url:'/invoice/saveInvoice',
          method:'POST',
          contentType:'application/json',
          data: JSON.stringify({
            tranNO:tranNO,
            writeDate:writeDate,
            text:text,
            cash:parseFloat(cash),
            cheque:parseFloat(cheque),
            promissory:parseFloat(promissory),
            receivable:parseFloat(receivable),
            radio:radio,
            invoiceTextDTOs:shipmentData,
          }),
          success: function(response) {
            console.log("성공");
            window.location.href = '/invoice/list_invoice';
          },
          error: function(xhr, status, error) {
            console.log("실패");
            window.location.href = '/invoice/list_invoice';
          }
        });
      }

      function whoChecked(){
        const radios=document.querySelectorAll('input[name="type"]');
        let selectedValue;
        radios.forEach(x => {
          if(x.checked){selectedValue=x.value;}
        });
        return selectedValue;
      }

      function todayDate(){
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0');
        const day = String(today.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
      }

      function initModifyInvoice(tranNO){
        const pno=document.getElementById('partnerPno').value;
        $.ajax({
          url:'/select/modify_invoice',
          method:'POST',
          data:{tranNO:tranNO},
          success:function(data){
            const insertPoint=document.querySelector('#shipmentSel');

            data.forEach(x=>{
              const materCode=x.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.materCode;
              const name=x.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name;

              const receipt=x.receipt;
              const month=receipt.split('-')[1];
              const day=receipt.split('-')[2].split('T')[0];

              const shipNum=parseFloat(x.shipNum)||0;
              const standard=x.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.standard;
              const unitCost=parseFloat(x.baljuDTO.contractDTO.money)||0;
              const supplyValue=shipNum*unitCost;
              const tax=supplyValue/10;

              const bgo=x.bgo;

              const shipNo=x.shipNO;

              const newRow = document.createElement('tr');

              [month, day].forEach(text => {
                  const td = document.createElement('td');
                  td.innerText = text;
                  newRow.appendChild(td);
              });

              const button = document.createElement('button');
              button.type = 'button';
              button.className = 'btn btn-sm btn-secondary';
              button.innerText = '삭제';
              button.onclick = function() {
                  newRow.remove();
                  calMoney();
                  initInvoiceShipment(pno);
              };

              const nameTd = document.createElement('td');
              nameTd.colSpan=6;
              nameTd.innerHTML = name+'&nbsp;&nbsp;';
              nameTd.appendChild(button);
              newRow.appendChild(nameTd);

              const standardTd = document.createElement('td');
              standardTd.colSpan=2;
              standardTd.innerText = standard;
              newRow.appendChild(standardTd);

              const shipNumTd = document.createElement('td');
              shipNumTd.innerText = shipNum;
              newRow.appendChild(shipNumTd);

              const unitCostTd = document.createElement('td');
              unitCostTd.colSpan=4;
              unitCostTd.innerText = unitCost;
              newRow.appendChild(unitCostTd);

              const supplyValueTd = document.createElement('td');
              supplyValueTd.colSpan=3;
              supplyValueTd.innerText = supplyValue;
              supplyValueTd.id = 'presupplyValue'+shipNo;
              newRow.appendChild(supplyValueTd);

              const taxTd = document.createElement('td');
              taxTd.colSpan=3;
              taxTd.innerText = tax;
              taxTd.id = 'pretax'+shipNo;
              newRow.appendChild(taxTd);

              const inputText = document.createElement('input');
              inputText.type = 'text';
              inputText.style.border = '0px';
              inputText.style.width = '150px';
              inputText.value=bgo;
              inputText.id = 'inputText'+shipNo;

              const EmptyTd = document.createElement('td');
              EmptyTd.appendChild(inputText);
              newRow.appendChild(EmptyTd);

              const shipNoTd = document.createElement('td');
              shipNoTd.innerText = shipNo;
              shipNoTd.style.display = 'none';
              shipNoTd.id = 'shipNo'+shipNo;
              newRow.appendChild(shipNoTd);

              insertPoint.appendChild(newRow);

            });
          }
        });
        calMoney();
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>