<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>거래명세서 다운로드</title>
    <!--Style-->
    <style>
      .text {
        padding-top: 200px;
        /* 텍스트 상단에 50px 여백 추가 */
        padding-bottom: 200px;
        /* 텍스트 하단에 50px 여백 추가 */
      }
    </style>
    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">거래명세서 리스트 /</span> 거래명세서</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>협력업체명</th>
            <th>거래명세서 파일 다운로드</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>A</strong></td>
            <td><a th:href="@{https://m.naver.com/}" class="link-class">TEST.xlsx</a></td>
          </tr>
        </tbody>
      </table>
      <!-- Basic -->
      <div class="col-md-12 mb-4">
        <div class="card">
          <h5 class="card-header">미리보기</h5>
          <div class="card-body">
            <div class="divider">
              <div class="text"> 썸네일 </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between w-100">
        <a th:href="@{/invoice/list_invoice}">
          <button type="reset" class="btn btn-outline-secondary">뒤로가기</button>
        </a>
        <div>
          <!-- 등록 버튼을 맨 오른쪽에 배치 -->
          <a th:href="@{/invoice/view_invoice}">
            <button class="btn btn-primary">수정</button>
          </a>
        </div>
      </div>

    <!--Modal-->

    <!--/Modal-->
    <!--Script-->

    <!--Script-->
  </span>

</th:block>
</html>