<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>카테고리</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-4 container-p-y">
      <div class="row">
        <div class="col-md-6 order-0 mb-4" style="height: 750px;">
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between pb-0 mb-3">
              <div class="card-title mb-0">
                <h5 class="m-0 me-2">협력회사 카테고리</h5>
              </div>
            </div>
            <hr class="m-0">
            <div class="card shadow-none" style="height: 750px">
              <div class="card-body mb-3" id="vertical-example" style="height: 550px;">
                <table class="table table-hover text-center">
                  <tr th:each="partdto:${partCodeList.partSDTOs}">
                    <td th:text="${partdto.partMDTO.partLDTO.Lname}"></td>
                    <td th:text="${partdto.partMDTO.Mname}"></td>
                    <td th:text="${partdto.Sname}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--/ Order Statistics -->
        <!-- Expense Overview -->
        <div class="col-md-6 order-1 mb-4">
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between pb-0 mb-3">
              <div class="card-title mb-0">
                <h5 class="m-0 me-2">제품 카테고리 관리</h5>
              </div>
            </div>
            <hr class="m-0">
            <div class="card shadow-none" style="height: 750px">
              <div class="card-body mb-3" id="vertical-example2" style="height: 550px;">
                <table class="table table-hover text-center">
                  <tr th:each="prodto:${proCodeList.proSDTOs}">
                    <td th:text="${prodto.proMDTO.proLDTO.Lname}"></td>
                    <td th:text="${prodto.proMDTO.Mname}"></td>
                    <td th:text="${prodto.Sname}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--/ Expense Overview -->
      </div>
      <div class="row">
        <!-- Transactions -->
        <div class=" order-2 mb-4">
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between pb-0 mb-3">
              <div class="card-title mb-0">
                <h5 class="m-0 me-2">자재 카테고리 관리</h5>
              </div>
            </div>
            <hr class="m-0">
            <div class="card shadow-none" style="height: 750px">
              <div class="card-body mb-3" id="vertical-example3" style="height: 550px;">
                <table class="table table-hover text-center">
                  <tr th:each="materdto:${materCodeList.materSDTOs}">
                    <td th:text="${materdto.materMDTO.materLDTO.lname}"></td>
                    <td th:text="${materdto.materMDTO.Mname}"></td>
                    <td th:text="${materdto.Sname}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--/ Transactions -->
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->
    <!--Script-->

    <!--Script-->
  </span>

</th:block>
</html>