<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>계약서 목록</title>
      <!--Style-->

      <!--/Style-->
  </span>

    <span id="content">
      <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">계약서 /</span> 계약서 목록</h4>
        <!--추가-->
        <!-- Hoverable Table rows -->
        <div class="card mb-4">
          <!--검색-->
          <div class="card-body">
            <h5>계약서 작성 필요 조달계획내역</h5>
            <div class="card border">
              <div class="table-responsive text-nowrap">
                <table class="table">
                  <tr>
                    <th class="bg-label-primary">제품</th>
                    <td>
                      <div class="row">
                        <span class="col-md-3">대분류</span>
                        <div class="col">
                          <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <span class="col-md-3">중분류</span>
                        <div class="col">
                          <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <span class="col-md-3">소분류</span>
                        <div class="col">
                          <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-md-9">
                          <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                        </div>
                        <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="bg-label-primary">자재</th>
                    <td>
                      <div class="row">
                        <span class="col-md-3">대분류</span>
                        <div class="col">
                          <select class="form-select form-select-sm" id="selectMaterL" onchange="updateMaterCode('L')"></select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <span class="col-md-3">중분류</span>
                        <div class="col">
                          <select class="form-select form-select-sm" id="selectMaterM" onchange="updateMaterCode('M')"></select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <span class="col-md-3">소분류</span>
                        <div class="col">
                          <select class="form-select form-select-sm" id="selectMaterS" onchange="updateMaterCode('S')"></select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-md-9">
                          <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                        </div>
                        <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!--/검색-->
          <div class="table-responsive text-nowrap">
            <!-- Outline Dropdowns -->
            <div class="card-body">
              <div class="table-responsive text-nowrap">
                <table class="table table-bordered mb-4">
                  <thead>
                    <tr>
                      <th>제품 이름</th>
                      <th>자재번호</th>
                      <th>자재명</th>
                      <th>수량</th>
                      <th>계약서 등록</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="list2:${yesPlan_list.dtoList}">
                      <td>[[${list2.proplanDTO.productDTO.name}]]</td>
                      <td>[[${list2.materialDTO.materCode}]]</td>
                      <td>[[${list2.materialDTO.name}]]</td>
                      <td>[[${list2.proplanDTO.pronum}]]</td>
                      <td>
                        <a th:href="@{/contract/new_contract(joNo=${list2.joNo})}">
                          <button type="button" class="btn btn-primary">계약서 등록</button>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="mt-3 text-end mb-4">
                <a th:href="@{/contract/new_contract}">
                  <button type="button" class="btn btn-primary">등록</button>
                </a>
              </div>
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <th:block th:if="${yesPlan_list.prev}">
                    <li class="page-item prev">
                      <a class="page-link" th:href="@{/contract/list_contract(page=${yesPlan_list.start}-1)}">
                        <i class="tf-icon bx bx-chevrons-left"></i>
                      </a>
                    </li>
                  </th:block>
                  <th:block th:each="pagenum:${yesPlan_list.pageList}">
                    <li class="page-item " th:classappend="${yesPlan_list.page}==${pagenum}? active">
                      <a class="page-link" th:href="@{/contract/list_contract(page=${pagenum})}">
                        [[${pagenum}]]
                      </a>
                    </li>
                  </th:block>
                  <th:block th:if="${yesPlan_list.next}">
                    <li class="page-item next">
                      <a class="page-link" th:href="@{/contract/list_contract(page=${yesPlan_list.end}+1)}">
                        <i class="tf-icon bx bx-chevrons-right"></i>
                      </a>
                    </li>
                  </th:block>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <!--/추가-->
        <!-- Hoverable Table rows -->
        <div class="card">
          <!--검색-->
          <div class="card-body">
            <h5>계약서 작성 완료 조달계획내역</h5>
            <div class="card border">
              <div class="table-responsive text-nowrap">
                <table class="table">
                  <tr>
                    <th class="bg-label-primary">협력회사</th>
                    <td>
                      <div class="row">
                        <span class="col-md-3">대분류</span>
                        <div class="col">
                          <select class="form-select form-select-sm" id="selectPartL2" onchange="updatePartCode2('L')"></select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <span class="col-md-3">중분류</span>
                        <div class="col">
                          <select class="form-select form-select-sm" id="selectPartM2" onchange="updatePartCode2('M')"></select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <span class="col-md-3">소분류</span>
                        <div class="col">
                          <select class="form-select form-select-sm" id="selectPartS2" onchange="updatePartCode2('S')"></select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="row">
                        <div class="col-md-9">
                          <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                        </div>
                        <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                       </div>
                     </td>
                  </tr>
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL2" onchange="updateProCode2('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM2" onchange="updateProCode2('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS2" onchange="updateProCode2('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-md-9">
                        <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                      </div>
                      <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">자재</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterL2" onchange="updateMaterCode2('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterM2" onchange="updateMaterCode2('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterS2" onchange="updateMaterCode2('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-md-9">
                        <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                      </div>
                      <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                    </div>
                  </td>
                </tr>
              </table>
              </div>
            </div>
          </div>
          <!--/검색-->
          <div class="table-responsive text-nowrap">
            <!-- Outline Dropdowns -->
            <div class="card-body"> <!--card의 본문 내용을 담음-->
              <table class="table table-hover mb-4">
                <thead>
                  <tr>
                    <th></th>
                    <th>협력업체명</th>
                    <th>계약서 파일명</th>
                    <th>자재명</th>
                    <th>수량</th>
                    <th>등록일</th>
                    <th>다운로드</th>
                    <th>수정/삭제</th>
                    <th>
                      <select class="form-select form-select-sm" style="width: fit-content;">
                        <option>전체 발주상태</option>
                        <option>발주요청</option>
                        <option>발주완료</option>
                      </select>
                    </th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  <tr th:each="list2:${finContract_list.dtoList}">
                    <td>[[${list2.contractDTO.conNo}]]</td>
                    <td>[[${list2.contractDTO.partnerDTO.name}]]</td>
                    <td>[[${list2.contractDTO.filename}]]</td>
                    <td>[[${list2.contractDTO.jodalPlanDTO.materialDTO.name}]]</td>
                    <td>[[${list2.contractDTO.jodalPlanDTO.proplanDTO.pronum}]]</td>
                    <td>--</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-outline-primary">
                        <span class="bx bx-arrow-to-bottom"></span>
                      </button>
                    </td>
                    <td>
                      <a th:href="@{/contract/modify_contract}">
                        <button class="btn btn-primary">수정</button>
                      </a>
                      <button class="btn btn-secondary" data-bs-toggle="modal" href="#modalToggle">삭제</button>
                    </td>
                    <td>
                      <th:block th:if="${list2.baljuDTO==null}">
                        <a th:href="@{/order/new_order2(conNo=${list2.contractDTO.conNo})}">
                          <button class="btn btn-primary">발주 요청</button>
                        </a>
                      </th:block>
                      <th:block th:if="${list2.baljuDTO!=null}">
                        <a th:href="@{/order/download_order(baljuNo=${list2.baljuDTO.baljuNo})}">
                          <button class="btn btn-secondary">발주 완료</button>
                        </a>
                      </th:block>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- Modal Backdrop -->
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <th:block th:if="${finContract_list.prev}">
                    <li class="page-item prev">
                      <a class="page-link" th:href="@{/contract/list_contract(page2=${finContract_list.start}-1)}">
                        <i class="tf-icon bx bx-chevrons-left"></i>
                      </a>
                    </li>
                  </th:block>
                  <th:block th:each="pagenum:${finContract_list.pageList}">
                    <li class="page-item " th:classappend="${finContract_list.page}==${pagenum}? active">
                      <a class="page-link" th:href="@{/contract/list_contract(page2=${pagenum})}">
                        [[${pagenum}]]
                      </a>
                    </li>
                  </th:block>
                  <th:block th:if="${finContract_list.next}">
                    <li class="page-item next">
                      <a class="page-link" th:href="@{/contract/list_contract(page2=${finContract_list.end}+1)}">
                        <i class="tf-icon bx bx-chevrons-right"></i>
                      </a>
                    </li>
                  </th:block>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!--/ Bootstrap modals -->
      </div>

        <!--Modal-->

        <!--/Modal-->
        <!--Script-->

        <!--Script-->
  </span>

</th:block>
</html>