<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>계약서 수정</title>
      <!--Style-->

      <!--/Style-->
  </span>

    <span id="content">
     <div class="container-xxl flex-grow-1 container-p-y">
       <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">계약서 /</span> 계약서 수정</h4>
       <div class="row">
         <div class="col-md-12">
           <div class="card mb-4">
             <!-- Account -->
             <form th:action="@{/contract/rewrite_contract}" method="post">
               <div class="card-body">
                 <label for="firstName" class="form-label">담당자</label>
                 <input class="form-control mb-1" type="text" id="firstName" name="who"
                        placeholder="담당자 입력" th:value="${contract.who}"/>
                 <label class="form-label">첨부 파일</label>
                 <div class="input-group mb-3">
                   <input
                           type="file"
                           class="form-control"
                           id="inputGroupFile04"
                           aria-describedby="inputGroupFileAddon04"
                           aria-label="Upload"
                           name="filename"
                           th:value="${contract.filename}"
                   />
                   <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04">업로드</button>
                 </div>
               </div>
               <hr class="m-0" />
               <div class="card-body">
                 <input type="number" name="conNo" style="display:none;" th:value="${contract.conNo}">
                 <div class="text-nowrap table-responsive">
                   <table class="table table-bordered mb-4">
                     <tr>
                       <th>조달계획번호</th>
                       <th>자재번호</th>
                       <th>자재명</th>
                       <th>단가</th>
                       <th>수량</th>
                       <th>걸리는 일수</th>
                       <th>체결일 </th>
                     </tr>
                     <tr>
                       <td>[[${contract.jodalPlanDTO.proplanDTO.productDTO.name}]]</td>
                       <td>[[${contract.jodalPlanDTO.materialDTO.materCode}]]</td>
                       <td>[[${contract.jodalPlanDTO.materialDTO.name}]]</td>
                       <td>
                         <input type="number" class="form-control" name="money" style="width: 150px; border:0" th:value="${contract.money}">
                       </td>
                       <td>
                         <input type="number" class="form-control" name="conNum" style="width: 150px; border:0" th:value="${contract.conNum}">
                       </td>
                       <td>
                         <input type="number" class="form-control" name="howDate" style="width: 150px; border:0" th:value="${contract.howDate}">
                       </td>
                       <td>
                         <input type="date" class="form-control" name="conDate" style="width: 150px; border:0" id="conDate">
                       </td>
                       <td style="display:none" id="conday">[[${contract.conDate}]]</td>
                     </tr>
                   </table>
                 </div>
                 <div class="d-flex justify-content-between w-100">
                   <a th:href="@{/contract/list_contract}">
                     <button type="button" class="btn btn-outline-secondary">취소</button>
                   </a>
                   <button class="btn btn-primary" type="submit">수정</button>
                 </div>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
     <!--Modal-->
     <!--/Modal-->
     <!--Script-->
     <script>
        $(document).ready(function(){
          const date=document.getElementById('conday').innerText;
          document.getElementById('conDate').value=date.split('T')[0];
        });
     </script>


     <!--Script-->
  </span>

</th:block>
</html>