<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>자재 수정</title>
      <!--Style-->

      <!--/Style-->
  </span>

  <span id="content">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">자재 관리 /</span> 자재 수정</h4>
      <!-- Hoverable Table rows -->
      <div class="card">
        <div class="table-responsive text-nowrap">
          <form id="materialForm" th:action="@{/material/register}" method="post" enctype="multipart/form-data">
            <!-- Outline Dropdowns -->
            <div class="card-body">
              <h5>자재 정보</h5>
              <label class="form-label">자재명</label>
              <input type="text" class="form-control" name="name" id="materialName" th:value="${material.name}">
              <!--자재 파일 업로드-->
              <label class="form-label">첨부 파일</label>
              <div class="input-group mb-4">
                <input type="file" class="form-control" id="inputGroupFile04" name="uploadFiles"
                       aria-describedby="inputGroupFileAddon04" aria-label="Upload"/>
                <!--<button type="button" class="btn btn-outline-primary" id="uploadButton">파일 업로드</button>-->
              </div>
              <!--/자재 파일 업로드-->
              <div
                      class="card shadow-none border border-secondary mb-3"
                      style="min-height: 100px;">
              </div>
            </div>
            <hr class="m-0"/>
            <div class="card-body">
              <!-- Form controls -->
              <div class="row mb-3">
                <h5>세부 항목</h5>
                <label class="col-form-label" style="width: 85px;">대분류 : </label>
                <div class="col-md-3">
                  <div class="row">
                    <select class="form-select col-form-label" style="width: fit-content;"
                            aria-label="Default select example" id="selectPartL" onchange="updatePartCode('L')">
                    </select>&nbsp;
                    <input type="text" class="form-control col-md-2" id="writeCategory1"
                           name="selboxDirectMeasure" hidden>
                  </div>
                </div>
                <label class="col-form-label" style="width: 85px;">중분류 : </label>
                <div class="col-md-3">
                  <div class="row">
                    <select class="form-select col-form-label" style="width: fit-content;"
                            aria-label="Default select example" id="selectPartM" onchange="updatePartCode('M')">
                    </select>&nbsp;
                    <input type="text" class="form-control col-md-10" id="writeCategory2"
                           name="selboxDirectMeasure" hidden>
                  </div>
                </div>
                <label class="col-form-label" style="width: 85px;">소분류 : </label>
                <div class="col-md-3">
                  <div class="row">
                    <select class="form-select col-form-label" style="width: fit-content;" name="materS"
                            aria-label="Default select example" id="selectPartS" onchange="updatePartCode('S')"
                    >
                    </select>&nbsp;
                    <input type="text" class="form-control col-md-10" id="writeCategory3"
                           name="selboxDirectMeasure" hidden>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <label for="exampleFormControlInput1" class="col-form-label" style="width: 60px;">규격 : </label>
                <input
                        type="text"
                        id="exampleFormControlInput1"
                        class="form-control col-md-10"
                        style="width: 30%;"
                        name="standard"
                        th:value="${material.standard}"
                />
              </div>
              <div class="row mb-3">
                <label class="col-form-label" style="width: 60px;">단위 : </label>
                <div class="col-md-10">
                  <div class="row mb-3">
                    <select id="selUnit" class="col-form-label form-select" style="width: fit-content;"
                            aria-label="Default select example" name="unit">
                      <option value="">직접입력</option>
                      <option value="mm">mm</option>
                      <option value="m">m</option>
                      <option value="㎡">㎡</option>
                      <option value="kg">kg</option>
                    </select>&nbsp;
                    <input type="text" class="col-md-10 form-control" style="width: 30%;" id="proUnit"
                           name="selboxDirectMeasure">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-form-label" style="width: 60px;">색상 : </label>
                <div class="col-md-10">
                  <div class="row mb-3">
                    <select id="selColor" class="col-form-label form-select" style="width: fit-content;"
                            name="color"
                            aria-label="Default select example">
                      <option value="">직접입력</option>
                      <option value="빨강">빨강</option>
                      <option value="검정">검정</option>
                      <option value="초록">초록</option>
                      <option value="노랑">노랑</option>
                      <option value="파랑">파랑</option>
                      <option value="하양">하양</option>
                      <option value="회색">회색</option>
                    </select>&nbsp;
                    <input type="text" class="col-md-10 form-control" style="width: 30%;" id="proColor"
                           name="selboxDirectColor">
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label for="exampleFormControlInput1" class="col-form-label" style="width: 90px;">창고위치 : </label>
                <div class="col-md-3">
                  <select class="form-select col-md-3" name="box">
                    <option th:each="box:${boxList}" th:value="${box.boxcode}">[[${box.boxname}]]</option>
                  </select>
                </div>
              </div>
              <div class="d-flex justify-content-between w-100">
                <button type="button" class="btn btn-outline-secondary"
                        th:onclick="|location.href='@{/material/list_material}'|">뒤로가기</button>
                <button type="button" class="btn btn-primary" id="saveBtn" onclick="saveMaterial()">등록</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- / Content -->
    <!--Script-->
    <script src="../assets/js/select-input.js"></script>
    <script>
      function saveMaterial(){
        var materialName=document.getElementById('materialName').value;
        var selectPartS=document.getElementById('selectPartS').value;
        if(materialName.trim()===''){
          alert('제품명을 입력해 주세요.');
        }else if(selectPartS.trim()===''){
          alert('카테고리를 선택해 주세요');
        }else {
          document.getElementById('materialForm').submit();
        }
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>