<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/devlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>제품 정보 수정</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">개발부서 /</span> 제품 정보 수정</h4>
      <form>
        <div class="card">
          <div class="card-body">
            <h5>제품 정보</h5>
            <div id="productCode" style="display:none;">[[${product.manuCode}]]</div>
            <label class="form-label">담당자</label>
            <input
                    type="text"
                    class="form-control"
                    id="person"
                    placeholder="실명 작성"
                    th:value=${product.supervisor}
            />
            <label class="form-label">제품명</label>
            <input
                    class="form-control"
                    id="productName"
                    placeholder="등록할 제품 명"
                    th:value=${product.name}
            />
            <label class="form-label">카테고리 선택</label>
            <div class="col">
              <div class="row">
                <div class="col-md-2">
                  <select class="form-select mb-1" id="selectProL" onchange="updateProCode('L')"></select>
                </div>
                <div class="col-md-2">
                  <select class="form-select mb-1" id="selectProM" onchange="updateProCode('M')"></select>
                </div>
                <div class="col-md-2">
                  <select class="form-select mb-1" id="selectProS" onchange="updateProCode('S')">
                    <option th:value="${product.proSDTO.proScode}" selected></option>
                  </select>
                </div>
              </div>
            </div>
            <label class="form-label">색상</label>
            <div class="row">
              <div class="col-md-2">
                <select class="form-select" id="selColor2">
                  <option value="">직접입력</option>
                  <option value="빨강" th:selected="${product.color}=='빨강'">빨강</option>
                  <option value="검정" th:selected="${product.color}=='검정'">검정</option>
                  <option value="초록" th:selected="${product.color}=='초록'">초록</option>
                  <option value="노랑" th:selected="${product.color}=='노랑'">노랑</option>
                  <option value="파랑" th:selected="${product.color}=='파랑'">파랑</option>
                  <option value="하양" th:selected="${product.color}=='하양'">하양</option>
                  <option value="회색" th:selected="${product.color}=='회색'">회색</option>
                </select>
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" id="proColor2" th:value="${product.color}">
              </div>
            </div>
            <label class="form-label">제품 도안</label>
            <div class="input-group">
              <input
                      type="file"
                      class="form-control"
                      aria-label="Upload"
                      id="proFile"
              />
              <button class="btn btn-outline-primary" type="button">업로드</button>
            </div>
            <label class="form-label">비고</label>
            <textarea class="form-control" rows="5" id="proText" th:text=${product.text}></textarea>
          </div>
          <!--/ Card-->
          <hr class="m-0">
          <div class="card-body">
            <h5>자재 정보</h5>
            <label class="form-label">기존 자재 검색</label>
            <div class="row mb-2">
              <div class="col-md-2">
                <select class="form-select mb-1" id="selectMaterL2" onchange="updateMaterCode2('L')"></select>
              </div>
              <div class="col-md-2">
                <select class="form-select mb-1" id="selectMaterM2" onchange="updateMaterCode2('M')"></select>
              </div>
              <div class="col-md-2">
                <select class="form-select mb-1" id="selectMaterS2" onchange="updateMaterCode2('S')"></select>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control mb-1" name="materialSearch" id="materialSearch">
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-outline-primary col-md-5" style="width: fit-content;" >검색</button>
                  </div>
                </div>
              </div>
            </div>
            <label class="form-label">자재 목록</label>
            <div class="row mb-2">
              <div class="col-md-7">
                <div class="card border overflow-hidden mb-4" style="height: 500px">
                  <div id="vertical-example">
                    <table class="table" id="materialList">
                      <tbody id="mater">
                        <tr th:each="list:${material_list.dtoList}"></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-5" style="position: relative;">
                <div style="position: absolute; bottom: 30px;">
                  <button type="button" class="btn btn-primary" onclick="addToLowerTable()">추가</button>
                  <button
                          type="button"
                          class="btn btn-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#exLargeModal"
                  >
                    신규 자재 추가
                  </button>
                </div>
              </div>
            </div>
            <label class="form-label">제품에 들어가는 자재 목록</label>
            <div class="text-nowrap table-responsive">
              <table class="table table-bordered mb-4">
                <thead>
                  <tr>
                    <th>자재번호</th>
                    <th>자재명</th>
                    <th style="width: fit-content;">제품 1개당 소요량</th>
                    <th>대분류</th>
                    <th>중분류</th>
                    <th>소분류</th>
                    <th>규격</th>
                    <th>단위</th>
                    <th>색상</th>
                    <th>창고위치</th>
                    <th style="width: 10px;">파일</th>
                    <th style="width: 10px;">삭제</th>
                  </tr>
                </thead>
                <tbody id="materialSel"></tbody>
              </table>
            </div>
            <div class="d-flex justify-content-between w-100">
              <a th:href="@{/development/list_dev}">
                <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
              </a>
              <div class="text-end mb-4">
                <button type="button" class="btn btn-outline-primary" onclick="saveToLowerTable(0)">임시저장</button>
                <button class="btn btn-primary" onclick="saveToLowerTable(1)">등록</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--Modal-->
    <div class="modal fade" id="exLargeModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel4">신규 자재 등록</h5>
          </div>
          <div class="modal-body">
            <h5>자재 정보</h5>
            <label class="form-label">자재명</label>
            <input type="text" class="form-control" name="newMaterialName" id="materialName">
            <!--자재 파일 업로드-->
            <label class="form-label">첨부 파일</label>
            <div class="input-group mb-4">
              <input type="file" class="form-control" id="inputGroupFile045" name="uploadFiles"
                     aria-describedby="inputGroupFileAddon04" aria-label="Upload"/>
              <!--<button type="button" class="btn btn-outline-primary" id="uploadButton">파일 업로드</button>-->
            </div>
            <!--/자재 파일 업로드-->
            <div
                    class="card shadow-none border border-secondary mb-3"
                    style="min-height: 100px;">
            </div>
            <!-- Form controls -->
            <div class="row mb-3">
              <label class="col-form-label" style="width: 85px;">대분류 : </label>
              <div class="col-md-3">
                <div class="row">
                  <select class="form-select col-form-label" style="width: fit-content;"
                          aria-label="Default select example" id="selectMaterL" onchange="updateMaterCode('L')">
                  </select>
                </div>
              </div>
              <label class="col-form-label" style="width: 85px;">중분류 : </label>
              <div class="col-md-3">
                <div class="row">
                  <select class="form-select col-form-label" style="width: fit-content;"
                          aria-label="Default select example" id="selectMaterM" onchange="updateMaterCode('M')">
                  </select>
                </div>
              </div>
              <label class="col-form-label" style="width: 85px;">소분류 : </label>
              <div class="col-md-3">
                <div class="row">
                  <select class="form-select col-form-label" style="width: fit-content;" name="materS"
                          aria-label="Default select example" id="selectMaterS" onchange="updateMaterCode('S')">
                  </select>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <label class="col-form-label" style="width: 60px;">규격 : </label>
              <input
                      type="text"
                      id="standard"
                      class="form-control col-md-10"
                      style="width: 30%;"
                      name="standard"
              />
            </div>
            <div class="row mb-3">
              <label class="col-form-label" style="width: 60px;">단위 : </label>
              <div class="col-md-10">
                <div class="row mb-3">
                  <select id="selUnit" class="col-form-label form-select" style="width: fit-content;"
                          aria-label="Default select example" name="unit">
                    <option value="">직접입력</option>
                    <option value="mm">mm</option>
                    <option value="m">m</option>
                    <option value="㎡">㎡</option>
                    <option value="kg">kg</option>
                  </select>&nbsp;
                  <input type="text" class="col-md-10 form-control" style="width: 30%;" id="proUnit"
                         name="selboxDirectMeasure">
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-form-label" style="width: 60px;">색상 : </label>
              <div class="col-md-10">
                <div class="row mb-3">
                  <select id="selColor" class="col-form-label form-select" style="width: fit-content;"
                          name="color"
                          aria-label="Default select example">
                    <option value="">직접입력</option>
                    <option value="빨강">빨강</option>
                    <option value="검정">검정</option>
                    <option value="초록">초록</option>
                    <option value="노랑">노랑</option>
                    <option value="파랑">파랑</option>
                    <option value="하양">하양</option>
                    <option value="회색">회색</option>
                  </select>&nbsp;
                  <input type="text" class="col-md-10 form-control" style="width: 30%;" id="proColor"
                         name="selboxDirectColor">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveMaterial2()">등록</button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->
    <script src="../assets/js/select-input.js"></script>
    <script src="../assets/js/product-addStructure.js"></script>

    <script>
      $(document).ready(function(){
        initStructure();

        setTimeout(function() {
          initMaterial();
        }, 200);
      });

      function initMaterial(){
        $.ajax({
          url:'/select/materialList',
          method:'GET',
          success:function(data){
            var insertTbody=document.getElementById('mater');
            insertTbody.innerHTML='';

            data.forEach(x=>{
              var materCode=x.materCode;

              var temp=document.getElementById('quantity'+materCode);
              if(temp==null){
                var name=x.name;
                var Lname=x.materSDTO.materMDTO.materLDTO.lname;
                var Mname=x.materSDTO.materMDTO.mname;
                var Sname=x.materSDTO.sname;
                var standard=x.standard;
                var unit=x.unit;
                var color=x.color;
                var boxName=x.boxDTO.boxname;
                var file=x.file;

                var newRow = document.createElement('tr');

                var inputTd = document.createElement('td');
                var input = document.createElement('input');
                input.type = 'checkbox';
                input.id = 'checkbox'+materCode;
                input.class='form-check-input';
                inputTd.appendChild(input);
                newRow.appendChild(inputTd);

                [materCode, name].forEach(function(text) {
                  var td = document.createElement('td');
                  td.innerText = text;
                  newRow.appendChild(td);
                });
                [Lname, Mname, Sname].forEach(function(text) {
                  var td = document.createElement('td');
                  td.innerText = text;
                  td.style.display = 'none';
                  newRow.appendChild(td);
                });
                [standard, unit, color].forEach(function(text) {
                  var td = document.createElement('td');
                  td.innerText = text;
                  newRow.appendChild(td);
                });
                [boxName, file].forEach(function(text) {
                  var td = document.createElement('td');
                  td.innerText = text;
                  td.style.display = 'none';
                  newRow.appendChild(td);
                });

                insertTbody.appendChild(newRow);
              }
            });

          }
        });

      }
      function initStructure(){
        const manuCode=$('#productCode').text();
        $.ajax({
          url:'/select/selectedController',
          method:'GET',
          data:{manuCode:manuCode},
          success:function(data){
            console.log(data);
            const materialSelTable=document.querySelector('#materialSel');

            data.forEach(x=>{

              const code=x.materialDTO.materCode;
              const name=x.materialDTO.name;
              const matL=x.materialDTO.materSDTO.materMDTO.materLDTO.lname;
              const matM=x.materialDTO.materSDTO.materMDTO.mname;
              const matS=x.materialDTO.materSDTO.sname;
              const standard=x.materialDTO.standard;
              const unit=x.materialDTO.unit;
              const color=x.materialDTO.color;
              const box=x.materialDTO.boxDTO.boxname;
              const file=x.materialDTO.file;
              const quantity=x.quantity

              const newRow = document.createElement('tr');

              [code, name].forEach(text => {
                  const td = document.createElement('td');
                  td.innerText = text;
                  newRow.appendChild(td);
              });

              const inputTd = document.createElement('td');
              const input = document.createElement('input');
              input.type = 'number';
              input.min='0';
              input.style.border = '0px';
              input.style.width = '80px';
              input.id = `quantity${code}`;
              input.value=quantity;
              inputTd.appendChild(input);
              newRow.appendChild(inputTd);

              [matL, matM, matS, standard, unit, color, box, file].forEach(text => {
                  const td = document.createElement('td');
                  td.innerText = text;
                  newRow.appendChild(td);
              });

              const deleteTd = document.createElement('td');
              const button = document.createElement('button');
              button.type = 'button';
              button.className = 'btn btn-sm btn-secondary';
              button.innerText = '삭제';
              button.onclick = function() {
                  newRow.remove(); // Remove the row when the button is clicked
                  initMaterial();
              };
              deleteTd.appendChild(button);
              newRow.appendChild(deleteTd);

              const tdEmpty = document.createElement('td');
              tdEmpty.innerText = '';
              tdEmpty.style.display = 'none';
              newRow.appendChild(tdEmpty);

              const tdEmpty1 = document.createElement('td');
              tdEmpty1.innerText = '';
              tdEmpty1.style.display = 'none';
              newRow.appendChild(tdEmpty1);

              materialSelTable.appendChild(newRow);

            });


          }
        });

      }


      $('form').on('submit', function(event) {
        event.preventDefault();
      });

      function saveToLowerTable(whatButton){
        const manuCode=$('#productCode').text();
        const person=$('#person').val();
        const productName=$('#productName').val();
        const selectProS=$('#selectProS').val();
        const proColor=$('#proColor2').val();
        const proFile=$('#proFile').val();
        const proText=$('#proText').val();
        const sel=whatButton;

        const materialSelTable=document.querySelector('#materialSel');
        const materialRows=materialSelTable.querySelectorAll('tr');

        const materData=[];

        materialRows.forEach(x=>{
           const cells=x.querySelectorAll('td');

           const code=cells[0].innerText;
           const inputId='quantity'+code;

           const inputElement=document.querySelector('#'+inputId);
           const quantity=inputElement.value;

           materData.push({code:code, quantity:quantity});
        });

        $.ajax({
          url:'/development/saveProduct',
          method:'POST',
          contentType:'application/json',
          data: JSON.stringify({
            manuCode:manuCode,
            person:person,
            productName:productName,
            selectProS:parseFloat(selectProS),
            proColor:proColor,
            proFile:proFile,
            proText:proText,
            materQuantityDTOs:materData,
            sel:sel
          }),
          success: function(response) {
            console.log("성공");
            window.location.href = '/development/list_dev';
          },
          error: function(xhr, status, error) {
            console.log("실패");
            window.location.href = '/development/list_dev';
          }
        });

      }

      function saveMaterial2(){
        const name=document.getElementById('materialName').value;
        const file=document.getElementById('inputGroupFile045').value;
        const materS=document.getElementById('selectMaterS').value;
        const standard=document.getElementById('standard').value;
        const unit=document.getElementById('proUnit').value;
        const color=document.getElementById('proColor').value;
        $.ajax({
          url:'/material/saveSimpleMaterial',
          method:'GET',
          data:{name:name, file:file, materS:materS, standard:standard, unit:unit, color:color},
          success:function(data){
            initMaterial();
            document.getElementById('materialName').value='';
            document.getElementById('inputGroupFile045').value='';
            document.getElementById('selectMaterS').value='';
            document.getElementById('standard').value='';
            document.getElementById('proUnit').value='';
            document.getElementById('proColor').value='';
          }
        });

      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>