<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>입고 목록</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">입고/출하 관리 /</span> 입고/반품</h4>
      <div class="card">
        <!--검색-->
        <div class="card-body">
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">협력회사</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartL" onchange="updatePartCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartM" onchange="updatePartCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectPartS" onchange="updatePartCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-md-9">
                        <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                      </div>
                      <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-md-9">
                        <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                      </div>
                      <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="bg-label-primary">자재</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterL" onchange="updateMaterCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterM" onchange="updateMaterCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectMaterS" onchange="updateMaterCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-md-9">
                        <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                      </div>
                      <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <table class="table table-bordered mb-4">
              <thead>
                <tr>
                  <th rowspan="2">수령일자</th>
                  <th rowspan="2">자재번호</th>
                  <th rowspan="2">자재명</th>
                  <th colspan="4" class="text-center">수량</th>
                  <th rowspan="2">
                    <select class="form-select form-select-sm" style="width: fit-content;">
                      <option>전체 입고상태</option>
                      <option>완료</option>
                      <option>미완료</option>
                    </select>
                  </th>
                  <th rowspan="2">업체명</th>
                  <th rowspan="2">다운로드</th>
                  <th rowspan="2">반품/입고</th>
                  <th rowspan="2">추가 요청</th>
                </tr>
                <tr>
                  <th>요청</th>
                  <th>총입고</th>
                  <th>필요</th>
                  <th>검수량</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="list:${list.dtoList}">
                  <td>
                    <th:block th:if="${list.shipmentDTO.receipt}==null">배송중</th:block>
                    <th:block th:if="${list.shipmentDTO.receipt}!=null">[[${#temporals.format(list.shipmentDTO.receipt, 'yyyy-MM-dd')}]]</th:block>
                  </td>
                  <td>
                    <i class="fab fa-bootstrap fa-lg text-primary me-3"></i>
                    <strong>[[${list.shipmentDTO.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.materCode}]]</strong>
                  </td>
                  <td>
                    <a th:href="@{/goodshandling/view_received(shipNO=${list.shipmentDTO.shipNO})}">
                      [[${list.shipmentDTO.baljuDTO.contractDTO.jodalPlanDTO.materialDTO.name}]]
                    </a>
                  </td>
                  <td>[[${list.shipmentDTO.baljuDTO.baljuNum}]]</td>
                  <td>[[${list.totalShipment}]]</td>
                  <td>[[${list.shipmentDTO.baljuDTO.baljuNum-list.totalShipment}]]</td>
                  <td>
                    <th:block th:if="${list.shipmentDTO.receipt==null}">
                      <button
                              type="button"
                              class="btn btn-outline-primary btn-sm"
                              data-bs-toggle="modal"
                              data-bs-target="#modalCenter2"
                              th:shipNum="${list.shipmentDTO.shipNum}"
                              th:shipNo="${list.shipmentDTO.shipNO}"
                              onclick="receivebutton(this)"
                      >
                        수령
                      </button>
                    </th:block>
                    <th:block th:if="${list.shipmentDTO.receipt!=null}">
                      <th:block th:if="${list.shipmentDTO.receiveCheck==1}">
                        <span style="color: green;">[[${list.shipmentDTO.shipNum}]] (입고)</span>
                      </th:block>
                      <th:block th:if="${list.reNo!=0}">
                        <span style="color: red;">[[${list.shipmentDTO.shipNum}]] (반품)</span>
                      </th:block>
                      <th:block th:if="${list.shipmentDTO.receiveCheck==0 && list.reNo==0}">
                        [[${list.shipmentDTO.shipNum}]] (입고대기)
                      </th:block>
                    </th:block>
                  </td>
                  <td>
                    <th:block th:if="${list.shipmentDTO.baljuDTO.baljuNum-list.totalShipment}==0">
                      <span style="color: green;">완료</span>
                    </th:block>
                    <th:block th:if="${list.shipmentDTO.baljuDTO.baljuNum-list.totalShipment}!=0">
                      <span style="color: red;">미완료</span>
                    </th:block>
                  </td>
                  <td>[[${list.shipmentDTO.baljuDTO.contractDTO.partnerDTO.name}]]</td>
                  <td>
                    <button type="button" class="btn btn-outline-primary">
                      <span class="bx bx-download"></span>
                    </button>
                  </td>

                  <td>
                    <th:block th:if="${list.shipmentDTO.receipt!=null && list.reNo==0 && list.shipmentDTO.receiveCheck==0}">
                      <a th:href="@{/goodshandling/return_received(shipNo=${list.shipmentDTO.shipNO})}">
                        <button class="btn btn-primary">반품</button>
                      </a>
                      <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-toggle="modal"
                              data-bs-target="#modalCenter"
                              th:shipNum="${list.shipmentDTO.shipNum}"
                              th:shipNo="${list.shipmentDTO.shipNO}"
                              onclick="receiveConfirm(this)"
                      >
                        입고
                      </button>
                    </th:block>
                    <th:block th:if="${list.shipmentDTO.receiveCheck==1}">
                      <a href="javascript:void(0);" class="menu-link" onclick="alert('이미 완료된 작업 입니다.');">
                        <button  class="btn btn-secondary">입고완료</button>
                      </a>
                    </th:block>
                    <th:block th:if="${list.reNo!=0}">
                      <a href="javascript:void(0);" class="menu-link" onclick="alert('이미 완료된 작업 입니다.');">
                        <button  class="btn btn-secondary">반품완료</button>
                      </a>
                    </th:block>
                  </td>

                  <td>
                    <button onclick="showOptions()" class="btn btn-outline-primary">요청</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <th:block th:if="${list.prev}">
                  <li class="page-item prev">
                    <a class="page-link"
                       th:href="@{/goodshandling/list_received(page=${list.start}-1)}"><i class="tf-icon bx bx-chevrons-left"></i></a>
                  </li>
                </th:block>
                <th:block th:each="pagenum:${list.pageList}">
                  <li class="page-item " th:classappend="${list.page}==${pagenum}? active">
                    <a class="page-link"
                       th:href="@{/goodshandling/list_received(page=${pagenum})}">[[${pagenum}]]</a>
                  </li>
                </th:block>
                <th:block th:if="${list.next}">
                  <li class="page-item next">
                    <a class="page-link"
                       th:href="@{/goodshandling/list_received(page=${list.end}+1)}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                  </li>
                </th:block>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCenterTitle">입고처리</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col mb-3 text-center" id="receiveConfirmText"></div>
            </div>
          </div>
          <div class="modal-footer">
            <form th:action="@{/goodshandling/receiveConfirm}" method="post">
              <input style="display:none;" name="shipNO" id="receiveConfirmNo">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                취소
              </button>
              <button type="submit" class="btn btn-primary">입고확정</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Modal-->
    <!--Modal2-->
    <div class="modal fade" id="modalCenter2" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">수령확인</h5>
          </div>
          <div class="modal-body">
            <div class="col mb-3 text-center" id="receiveText"></div>
          </div>
          <div class="modal-footer">
            <form th:action="@{/goodshandling/receiveCheck}" method="post">
              <input style="display:none;" name="shipNO" id="receiveNo">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                취소
              </button>
              <button type="submit" class="btn btn-primary">수령확인</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal2-->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>원하는 작업을 선택하세요:</p>
        <button onclick="callContact()" class="btn btn-secondary">담당자 전화 걸기</button>
        <button onclick="emailContact()" class="btn btn-secondary">담당자 이메일 보내기</button>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->
    <script>
      function receivebutton(button){
        var shipNum=button.getAttribute('shipNum');
        var shipNo=button.getAttribute('shipNo');
        document.getElementById('receiveText').innerHTML="협력회사에서 보낸 수량은 "+shipNum+"개 입니다.<br/>수령확정시 '수령확인'버튼을 누르세요.";
        document.getElementById('receiveNo').value=shipNo;
      }

      function receiveConfirm(button){
      var shipNum=button.getAttribute('shipNum');
        var shipNo=button.getAttribute('shipNo');
        document.getElementById('receiveConfirmText').innerHTML="협력회사에서 보낸 수량 "+shipNum+"개를 입고확정하시겠습니까?<br/>입고확정시 '입고확정'버튼을 누르세요.";
        document.getElementById('receiveConfirmNo').value=shipNo;
      }

    </script>
    <script>
      function showConfirmation() {
        alert("입고 완료");
      }
      function showOptions() {
        document.getElementById("myModal").style.display = "block";
      }
      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }
      function callContact() {
        window.location.href = 'tel:123-456-7890'; // 전화 번호를 실제 담당자 번호로 변경하세요
      }
      function emailContact() {
        window.location.href = 'mailto:contact@example.com'; // 이메일 주소를 실제 담당자 이메일로 변경하세요
      }
      window.onclick = function(event) {
        var modal = document.getElementById("myModal");
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>