<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>출하 요청 목록</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">입고/출하 관리 /</span> 출하 요청 목록</h4>
      <div class="card">
        <!--검색-->
        <div class="card-body">
          <div class="card border">
            <div class="table-responsive text-nowrap">
              <table class="table">
                <tr>
                  <th class="bg-label-primary">제품</th>
                  <td>
                    <div class="row">
                      <span class="col-md-3">대분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProL" onchange="updateProCode('L')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">중분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProM" onchange="updateProCode('M')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <span class="col-md-3">소분류</span>
                      <div class="col">
                        <select class="form-select form-select-sm" id="selectProS" onchange="updateProCode('S')"></select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-md-9">
                        <input type="text" class="form-control" style="height: 32px; font-size: 12px;">
                      </div>
                      <button type="button" class="col-md-3 btn btn-sm btn-outline-primary" style="width: 70px;">검색</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--/검색-->
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <table class="table table-bordered mb-4">
              <thead>
                <tr>
                  <th>등록 일자</th>
                  <th>제품 명칭</th>
                  <th>자재 명칭</th>
                  <th>수량</th>
                  <th>출하 희망 날짜</th>
                  <th>비고</th>
                  <th>
                    <select class="form-select form-select-sm" style="width: fit-content;">
                      <option>전체 출하상태</option>
                      <option>출하대기</option>
                      <option>출하완료</option>
                    </select>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="list:${list.dtoList}">
                  <td>--</td>
                  <td><a th:href="@{/goodshandling/view_request(proplanNo=${list.proplanDTO.proplanNo})}">[[${list.proplanDTO.productDTO.name}]]</a></td>
                  <td>[[${list.materialDTO.name}]]</td>
                  <td>[[${list.requestNum}]]</td>
                  <td>[[${#temporals.format(list.eventDate, 'yyyy-MM-dd')}]]</td>
                  <td>[[${list.text}]]</td>
                  <td>
                    <th:block th:if="${list.reqCheck}==0">
                      <button class="btn btn-primary">출하대기</button>
                    </th:block>
                    <th:block th:if="${list.reqCheck}==1">
                      <a href="javascript:void(0);" class="menu-link" onclick="alert('이미 완료된 작업 입니다.');">
                        <button  class="btn btn-secondary">완료</button>
                      </a>
                    </th:block>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <th:block th:if="${list.prev}">
                  <li class="page-item prev">
                    <a class="page-link" th:href="@{/goodshandling/list_request(page=${list.start}-1)}">
                      <i class="tf-icon bx bx-chevrons-left"></i>
                    </a>
                  </li>
                </th:block>
                <th:block th:each="pagenum:${list.pageList}">
                  <li class="page-item " th:classappend="${list.page}==${pagenum}? active">
                    <a class="page-link" th:href="@{/goodshandling/list_request(page=${pagenum})}">
                      [[${pagenum}]]
                    </a>
                  </li>
                </th:block>
                <th:block th:if="${list.next}">
                  <li class="page-item next">
                    <a class="page-link" th:href="@{/goodshandling/list_request(page=${list.end}+1)}">
                      <i class="tf-icon bx bx-chevrons-right"></i>
                    </a>
                  </li>
                </th:block>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->

    <!--Script-->

    <!--Script-->
  </span>

</th:block>
</html>