<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>자재 반품</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">입고/출하 관리 /</span> 자재 반품</h4>
      <div class="row">
        <div class="fullscreen-background">
          <form th:action="@{/goodshandling/savereturn}" method="post">
            <input style="display:none;" name="shipNo" th:value="${shipment.shipNo}">
            <div class="card mb-4">
              <div class="card-body">
                <div>
                  <label class="form-label">이메일</label>
                  <input
                          type="email"
                          class="form-control"
                          aria-describedby="defaultFormControlHelp"
                          name="email"
                  />
                </div>
                <label class="form-label">첨부자료</label>
                <div class="input-group">
                  <input
                          type="file"
                          class="form-control"
                          id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04"
                          aria-label="Upload"
                          name="filename"
                  />
                  <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04" disabled>업로드</button>
                </div>
              </div>
              <hr class="m-0">
              <div class="card-body">
                <div class="mb-3">
                  <label for="exampleFormControlReadOnlyInput1" class="form-label">자재명</label>
                  <input
                          class="form-control"
                          type="text"
                          id="exampleFormControlReadOnlyInput1"
                          th:value="${shipment.materialName}"
                          readonly
                  />
                </div>
                <div>
                  <label class="form-label">반품 수량</label>
                  <input type="number" class="form-control mb-4" th:value="${shipment.shipNum}" readonly>
                </div>
                <div class="mb-3">
                  <label class="form-label">반품 내용</label>
                  <select class="form-select" aria-label="Default select example" name="reDetail">
                    <option>항목 선택</option>
                    <option value="규격">규격</option>
                    <option value="수량">수량</option>
                    <option value="무게">무게</option>
                    <option value="색상">색상</option>
                    <option value="재질">재질</option>
                    <option value="기타">기타</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label">이유</label>
                  <textarea class="form-control" rows="5" name="whyRe"></textarea>
                </div>
                <div class="mb-4">
                  <label class="form-label">비고</label>
                  <textarea class="form-control" rows="10" name="bGo"></textarea>
                </div>
                <div class="text-end">
                  <button type="submit" class="btn btn-outline-primary">반품</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Modal-->
    <!--/Modal-->

    <!--Script-->
    <!--Script-->
  </span>

</th:block>
</html>