<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>자재 반품</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">입고/출하 관리 /</span> 자재 반품</h4>
      <div class="row">
        <div class="fullscreen-background">
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3">
                <label for="exampleFormControlReadOnlyInput1" class="form-label">자재명</label>
                <input
                        class="form-control"
                        type="text"
                        id="exampleFormControlReadOnlyInput1"
                        placeholder="앞 브레이크"
                        readonly
                />
              </div>
              <div>
                <label for="exampleFormControlSelect1" class="form-label">반품 수량</label>
                <input type="number" class="form-control">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlSelect1" class="form-label">반품 내용</label>
                <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                  <option selected>항목 선택</option>
                  <option value="1">규격</option>
                  <option value="2">수량</option>
                  <option value="3">무게</option>
                  <option value="4">색상</option>
                  <option value="5">재질</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleDataList" class="form-label">이유</label>
                <input
                        class="form-control"
                        list="datalistOptions"
                        id="exampleDataList"
                        placeholder="내용"
                />
                <datalist id="datalistOptions">
              </div>
              <div class="mb-4">
                <label for="exampleFormControlTextarea1" class="form-label">비고</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="text-end">
                <button type="button" class="btn btn-outline-primary" onclick="return confirmReturn();">반품</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->

    <!--/Modal-->

    <!--Script-->
    <script>
      function confirmReturn() {
        return confirm('반품 하시겠습니까?');
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>