<!DOCTYPE html>

<html
  lang="ko" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
<th:block th:replace="~{/layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>수령정보 상세보기</title>
    <!--Style-->

    <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">입고/출하 관리 /</span> 수령 정보 상세 보기</h4>
      <div class="row">
        <div class="accordion mt-3" id="accordionExample">
          <div class="card accordion-item active">
            <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body" style="position: relative; padding-bottom: 80px; margin: 0;">
                <p><strong>출하 확인서</strong></p>
                <p><strong>전화번호:</strong> 010-1234-5678</p>
                <p><strong>주문 번호:</strong> AHQ887654</p>
                <p><strong>출하 일자:</strong> 2024년 7월 15일</p>
                <p>안녕하세요,</p>
                <p>해당 확인서는 아래 부품의 출하를 안내드립니다:</p>
                <ul>
                  <li><strong>부품명:</strong> 나인봇 맥스 G30 전동킥보드 앞 휠 브레이크 - 스틸 PC 1 피스</li>
                  <li><strong>수량:</strong> [출하된 부품 수량]</li>
                </ul>
                <p><strong>출하 상태:</strong> 출하 완료</p>
                <p><strong>배송 예상 소요 시간:</strong> (국내): 보통 2~3일 소요</p>
                <p>부품 출하 확인을 진행하였으며, 이로 인해 발생할 수 있는 지연에 대해 사과드립니다. 추가 질문이나 문의사항이 있으시면 언제든지 연락 부탁드립니다.</p>
                <p>감사합니다.</p>
                <br>
                <div class="d-flex justify-content-between w-100">
                  <div class="menu-item" style="position: absolute; bottom: 20px; left: 20px;">
                    <a th:href="@{/goodshandling/list_received}">
                      <button type="button" class="btn btn-outline-secondary">뒤로가기</button>
                    </a>
                  </div>
                  <div class="menu-item" style="position: absolute; bottom: 20px; right: 20px;">
                    <a th:href="@{/goodshandling/return_received}">
                      <button type="button" class="btn btn-secondary">반품</button>
                    </a>
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#modalCenter"
                    >
                      입고
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCenterTitle">입고처리</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col mb-3 text-center">
                AM-823의 반품수량은 0개 입니다.<br/>
                입고 가능 수량 : 300개
              </div>
            </div>
            <div class="row g-2">
              <div class="col mb-0">
                <label for="emailWithTitle" class="form-label">담당자</label>
                <input
                        type="text"
                        id="emailWithTitle"
                        class="form-control"
                        placeholder="실명 입력"
                />
              </div>
              <div class="col mb-0">
                <label for="dobWithTitle" class="form-label">입고처리 수량 입력</label>
                <input
                        type="number"
                        id="dobWithTitle"
                        class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              취소
            </button>
            <button type="button" class="btn btn-primary">입고확인</button>
          </div>
        </div>
      </div>
    </div>
    <!--/Modal-->

    <!--Script-->

    <!--Script-->
  </span>

</th:block>
</html>