<!DOCTYPE html>

<html
        lang="ko" xmlns:th="http://www.thymeleaf.org"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<th:block th:replace="~{layout/mainlayout::all(~{this::#head} ,~{this::#content})}">

  <span id="head">
    <title>재고 수량</title>
      <!--Style-->

      <!--/Style-->
  </span>

  <span id="content">
    <div class="container-xxl flex-grow-1 container-p-y">
      <div id="materCode" style="display:none;">[[${materCode}]]</div>
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">재고 목록 /</span>월별 현황</h4>
      <!-- Bordered Table -->
      <div class="card">
        <h5 class="card-header">
          <div class="d-flex justify-content-between w-100">
            <div class="d-flex">
              <div class="btn-group">
                <button
                        type="button"
                        class="btn btn-outline-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                  날짜
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="javascript:void(0);">~2024년</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">2024년</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">2023년</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">2022년</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">2021년</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);">~2020년</a></li>
                </ul>
              </div>
            </div>
            <div class="mt-3">
              <!-- Button trigger modal -->
              <button
                      type="button"
                      class="btn btn-outline-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#basicModal"
              >
                다운로드
              </button>
            </div>
          </div>
        </h5>
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <table class="table table-bordered mb-4">
              <thead>
                <tr>
                  <th>날짜</th>
                  <th>자재번호</th>
                  <th>자재명</th>
                  <th>규격</th>
                  <th>단위</th>
                  <th>당 계약 가격</th>
                  <th>전 계약 가격</th>
                  <th>전 계약 대비</th>
                  <th>재고 수량</th>
                  <th>재고 금액</th>
                </tr>
              </thead>
              <tbody id="detailContent"></tbody>
            </table>
            <div class="mt-2">
              <a th:href="@{/jago/list_stock}">
                <button type="reset" class="btn btn-outline-secondary">뒤로가기</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--/ Bordered Table -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            현재 화면(2024년도 자료)의 정보 다운
          </div>
          <div class="modal-body">
            <div class="text-center">
              <button type="button" class="btn btn-outline-primary">
                예
              </button>
              <button type="button" class="btn btn-outline-primary">
                아니오(전체 다운로드)
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Modal-->

    <!--/Modal-->
    <!--Script-->
    <script>
      $(document).ready(function(){
        var materCode=document.getElementById('materCode').innerText;
        initStockDetail(materCode);
      });

      function initStockDetail(code){
        var materCode=code;
        $.ajax({
          url:'/select/stockDetail',
          method:'POST',
          data:{materCode:materCode},
          success:function(data){
            console.log('aaaaa', data);
            var insertTbody=document.getElementById('detailContent');

            var tempNum=0;

            if(data){
              data.forEach(x=>{
                var newRow = document.createElement('tr');

                var date=x.contractDTO.conDate.split('T')[0];
                var mcode=x.contractDTO.jodalPlanDTO.materialDTO.materCode;
                var mname=x.contractDTO.jodalPlanDTO.materialDTO.name;
                var standard=x.contractDTO.jodalPlanDTO.materialDTO.standard;
                var unit=x.contractDTO.jodalPlanDTO.materialDTO.unit;
                var cmoney=x.contractDTO.money;
                var sumship=x.sumShipNum;
                var sumreq=x.sumRequestNum;

                var stock=sumship-sumreq;

                [date, mcode, mname, standard, unit, cmoney].forEach(function(text){
                  var td = document.createElement('td');
                  td.innerText = text;
                  newRow.appendChild(td);
                });

                var td1 = document.createElement('td');
                td1.innerText = '';
                td1.id='pre'+tempNum;
                newRow.appendChild(td1);

                var td2 = document.createElement('td');
                td2.innerText = '';
                td2.id='minus'+tempNum;
                newRow.appendChild(td2);

                [stock, cmoney*stock].forEach(function(text){
                  var td = document.createElement('td');
                  td.innerText = text;
                  newRow.appendChild(td);
                });
                insertTbody.appendChild(newRow);

                if(tempNum!=0){
                  document.getElementById('pre'+(tempNum-1)).innerText=cmoney;
                  document.getElementById('minus'+(tempNum-1)).innerText=cmoney-document.getElementById('pre'+(tempNum-1)).innerText;
                }

                tempNum+=1;

              });

            }

          }
        });
      }
    </script>
    <!--Script-->
  </span>

</th:block>
</html>